<%= stylesheet_link_tag 'sessions' %>

<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-9 col-lg-6 col-xl-5 bg-light_red">
    <%= image_tag('users/SingleIllustration.png', class: 'set_login_ill') %>
  </div>

  <div class="col-md-8 col-lg-6 col-xl-4 ml-5" id="SessionSection">
    <!-- Sign in form -->
    <form name="session">

      <!-- Heading -->
      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
        <p class="login_text">Login</p>
      </div>

      <!-- ErrorAlert -->
      <div class="error_alert display_none mb-4"></div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label font-normal" for="InputEmail">Email*</label>
        <input
          type="email"
          id="InputEmail"
          name="user[email]"
          placeholder="eg. john@doe.com"
          class="form-control form-control-lg"
        >
      </div>

      <!-- Password input -->
      <div class="form-outline mb-3">
        <label class="form-label font-normal" for="InputPassword">Password*</label>
        <input
          type="password"
          id="InputPassword"
          name="user[password]"
          placeholder="Enter your password"
          class="form-control form-control-lg"
        >
      </div>

      <!-- Checkbox -->
      <div class="d-flex justify-content-between align-items-center my-3">
        <div>
          <input type="checkbox" value="" id="form2Example3"/>
          <label class="form-check-label remember_text" for="form2Example3">Remember me </label>
        </div>
        <div>
          <a href="/users/password/new" class="text-body text-deco-none">Forget password?</a>
        </div>
      </div>

      <!-- Buttons -->
      <div class="text-center text-lg-start">

        <!-- Login Button -->
        <button type="submit" class="btn w-100 login_btn" id="LoginBtn">Login</button>

        <div class="divider d-flex align-items-center mtb-20">
          <p class="text-center remember_text mx-3 my-auto"> OR </p>
        </div>

        <!-- OmniOuth Button -->
        <div class="control-group google-sign-in">
          <button
            type="button"
            name="google_sign_in"
            class="btn w-100 btn-google-sign-in"
            onclick="window.location.href='/auth/google_oauth2'">
            <div></div>
            Signup with google account
          </button>
        </div>

        <!-- SignUp Link -->
        <p class="my-4">
          Don't have an account?
          <a href="<%= signup_path %>" class="link-danger text-deco-none">Sign Up</a>
        </p>
      </div>
    </form>
  </div>
</div>

<%= javascript_include_tag 'sessions' %>

