<div class="container-fluid custom-fluid">
  <div class="col-lg-12 access-doc-breadcrumb-row">
    <span>Home</span> >>
    <span class="access-doc-text">Access Your Documents</span>
  </div>
  <div class="col-md-12 access-doc-heading-row">
    <span class="access-doc-heading">Access Your Documents</span>
  </div>
  <hr class="horizontalLine"> <!-- A horizontal line -->

  <div class="row">
    <div class="col-md-8">

      <!-- Login buttons -->
      <div class="row">
        <div class="col-md-8">
          <button class="logins-buttons" id="sign-in">Sign in</button>
          <button class="logins-buttons" id="sign-up">Sign up</button>
        </div>
      </div>

      <!-- Sign in form -->
      <form class="new_user col-md-6 logins-form form-width" id="sign-in-form" role="form" action="/users/sign_in" accept-charset="UTF-8" method="post">
        <div class="form-group">
          <label for="user_email">Email</label>
          <input autofocus="autofocus" class="form-control" type="email" value="" name="user[email]" id="user_email" required>
        </div>
        <div class="form-group">
          <a class="pull-right" href="/users/password/new">Forgot password?</a>
          <label for="user_password">Password</label>
          <input class="form-control" type="password" name="user[password]" id="user_password" required>
        </div>
        <input type="submit" name="commit" value="Sign in" class="btn btn-primary signin-button" data-disable-with="Sign in">
        <div class="checkbox" style="width:150px">
        </div>
      </form>

      <!-- Sign up form -->
      <form class="new_user col-md-6 logins-form display-none form-width" id="sign-up-form" role="form" action="/users" accept-charset="UTF-8" method="post">
        <div class="form-group">
          <label for="user_name">Name</label>
          <input autofocus="autofocus" class="form-control" type="text" name="user[name]" id="user_name" placeholder="your name" required>
          <span class="sign-up-desc">Please enter you first name</span>
        </div>
        <div class="form-group">
          <label for="user_email">Email</label>
          <input class="form-control" type="email" value="" name="user[email]" id="user_email" placeholder="eg. john@doe.com" required>
          <span class="sign-up-desc">Please enter you email address.</span>
        </div>
        <div class="form-group">
          <label for="user_password">Password</label>
          <input class="form-control" type="password" name="user[password]" id="user_password" placeholder="your password" required>
          <span class="sign-up-desc">Your password should be at least 6 characters and should consists of number and symbols</span>
        </div>
        <div class="form-group">
          <label for="user_password_confirmation">Password confirmation</label>
          <input class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation" placeholder="your password confirmation" required>
        </div>

        <div class="">
          <div class="tacbox">
            <input id="checkbox" type="checkbox" required/>
            <label for="checkbox"> I agree to the <a href="#">Terms of Use</a> and
              <a href="#">Privacy Policy</a>.</label>
          </div>
          <br>
        </div>
        <input type="submit" name="commit" value="Sign up" class="btn btn-primary signin-button" data-disable-with="Sign up">
      </form>

    </div>

    <!-- Search documents -->
    <div class="col-md-3">
      <div class="search-documents">
        <div class="row">
          <div class="col-md-12">

            <!-- Search document heading -->
            <div class="documents-content">
              <span class="search-doc-heading">Search Documents</span>
            </div>

            <!-- Search field -->
            <form id="form" class="documents-search">
              <input type="search" class="search-field" id="query" name="q" placeholder="Search..."/>
              <button type="submit" class="btn btn-primary vertically-align">Search</button>
            </form>

            <!-- Help text -->
            <div class="documents-content">
              <span class="search-doc-heading">Do you need help?</span>
            </div>

            <!-- Help description -->
            <div class="documents-search">
              <span class="">
                Our support agents are standing by to assist you. Please be aware that our agents are not licensed
                attorneys and cannot address legal questions.
              </span>
            </div>

            <!-- Phone -->
            <div class="row">
              <div class="contact-section">
                <div class="col-md-1"><i class="fa fa-phone font-awesome-size"></i></div>
                <div class="col-md-9">
                  <span><b>Phone</b></span><br>
                  <span>1 (844) 533-6767</span><br>
                  <span class="timing">(9am to 9am, sat/sun 9am to 5pm)</span>
                </div>
              </div>
            </div>

            <!-- Chat -->
            <div class="row">
              <div class="contact-section">
                <div class="col-md-1"><i class="fa fa-comments font-awesome-size"></i></div>
                <div class="col-md-9">
                  <span><b>Chat</b></span><br>
                  <span>Online - Start Chat</span><br>
                </div>
              </div>
            </div>

            <!-- Email -->
            <div class="row">
              <div class="contact-section">
                <div class="col-md-1"><i class="fa fa-comments font-awesome-size"></i></div>
                <div class="col-md-9">
                  <span><b>Email</b></span><br>
                  <span>Send Message</span><br>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Empty space -->
    <div class="col-md-1"></div>
  </div>
</div>

<!--Footer-->
<footer class="site-footer">
  <div class="container">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
          <a href="#">eForm</a>.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>











<style>
    .site-footer {
        background-color: #26272b;
        padding: 45px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
    }

    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5
    }

    .site-footer hr.small {
        margin: 20px 0
    }

    .site-footer h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }

    .site-footer a {
        color: #737373;
    }

    .site-footer a:hover {
        color: #3366cc;
        text-decoration: none;
    }

    .footer-links {
        padding-left: 0;
        list-style: none
    }

    .footer-links li {
        display: block
    }

    .footer-links a {
        color: #737373
    }

    .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
        color: #3366cc;
        text-decoration: none;
    }

    .footer-links.inline li {
        display: inline-block
    }

    .site-footer .social-icons {
        text-align: right
    }

    .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #33353d
    }

    .copyright-text {
        margin: 0
    }

    @media (max-width: 991px) {
        .site-footer [class^=col-] {
            margin-bottom: 30px
        }
    }

    @media (max-width: 767px) {
        .site-footer {
            padding-bottom: 0
        }

        .site-footer .copyright-text, .site-footer .social-icons {
            text-align: center
        }
    }

    .social-icons {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none
    }

    .social-icons li {
        display: inline-block;
        margin-bottom: 4px
    }

    .social-icons li.title {
        margin-right: 15px;
        text-transform: uppercase;
        color: #96a2b2;
        font-weight: 700;
        font-size: 13px
    }

    .social-icons a {
        background-color: #eceeef;
        color: #818a91;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

    .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
        color: #fff;
        background-color: #29aafe
    }

    .social-icons.size-sm a {
        line-height: 34px;
        height: 34px;
        width: 34px;
        font-size: 14px
    }

    .social-icons a.facebook:hover {
        background-color: #3b5998
    }

    .social-icons a.twitter:hover {
        background-color: #00aced
    }

    .social-icons a.linkedin:hover {
        background-color: #007bb6
    }

    .social-icons a.dribbble:hover {
        background-color: #ea4c89
    }

    @media (max-width: 767px) {
        .social-icons li.title {
            display: block;
            margin-right: 0;
            font-weight: 600
        }
    }
</style>
