<div class="container">
  <div class="col-md-12">
    <h2 style="margin-bottom: 30px; font-weight: 700;">Account Overview</h2>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3"><img src="Icon.svg" style="height: 100px; float: left; width: 100px;"></div>
          <div class="col-md-6">
            <h3><b>My Documents</b></h3>
            <p class="yield_description">Create, sign and manage lease agreements, notice forms and other documents.</p>
          </div>
          <div class="col-md-3"><img src="<%= current_page?(visitors_url) ? 'active_arrow.svg' : 'inactive_arrow.svg' %>" style="margin-top: 4.5vh;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3"><img src="Rental.svg" style="height: 100px; float: left; width: 100px;"></div>
          <div class="col-md-6">
            <h3><b>Rental Applications</b></h3>
            <p class="yield_description">Easily screen tenants with our online rental application form.</p>
          </div>
          <div class="col-md-3"><img src="GoIcon.svg" style="margin-top: 4.5vh;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3"><img src="MyProp.svg" style="height: 100px; float: left; width: 100px;"></div>
          <div class="col-md-6">
            <h3><b>My Properties</b></h3>
            <p class="yield_description">Save and review information about your rental properties and tenants.</p>
          </div>
          <div class="col-md-3"><img src="GoIcon.svg" style="margin-top: 4.5vh;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3"><img src="AccountSet.svg" style="height: 100px; float: left; width: 100px;"></div>
          <div class="col-md-6">
            <h3><b>Account Settings</b></h3>
            <p class="yield_description">view and edit login, contact info and subscription details.</p>
          </div>
          <div class="col-md-3"><img src="GoIcon.svg" style="margin-top: 4.5vh;"></div>
        </div>
      </div>
    </div>
  </div>

</div>