<div class="container">
  <div class="col-md-12">
    <h1>Account Overview</h1>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="my-auto">
          <img src="Icon.svg">
        </div>
        <div class="my-auto">
          <h3><b>My Documents</b></h3>
          <p class="yield_description">
            Create, sign and manage lease agreements, notice forms and other documents.
          </p>
        </div>
        <div class="my-auto">
          <img src="GoIcon.svg">
        </div>
      </div>
    </div>
  </div>
</div>