<div class="container">
  <div class="col-md-12">
    <h2 style="margin-bottom: 30px;">Account Overview</h2>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="my-auto">
          <img src="Icon.svg" style="height: 100px;">
        </div>
        <div class="my-auto">
          <h3><b>My Documents</b></h3>
          <p class="yield_description">
            Create, sign and manage lease agreements, notice forms and other documents.
          </p>
        </div>
        <div class="my-auto">
          <img src="GoIcon.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="my-auto">
          <img src="Rental.svg" style="height: 100px;">
        </div>
        <div class="my-auto">
          <h3><b>Rental Applications</b></h3>
          <p class="yield_description">
            Easily screen tenants with our online rental application form.
          </p>
        </div>
        <div class="my-auto">
          <img src="GoIcon.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="my-auto">
          <img src="MyProp.svg" style="height: 100px;">
        </div>
        <div class="my-auto">
          <h3><b>My Properties</b></h3>
          <p class="yield_description">
            Save and review information about your rental properties and tenants.
          </p>
        </div>
        <div class="my-auto">
          <img src="GoIcon.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="my-auto">
          <img src="AccountSet.svg" style="height: 100px;">
        </div>
        <div class="my-auto">
          <h3><b>Account Settings</b></h3>
          <p class="yield_description">
            view and edit login, contact info and subscription details.
          </p>
        </div>
        <div class="my-auto">
          <img src="GoIcon.svg">
        </div>
      </div>
    </div>
  </div>
</div>