<div class="container-fluid custom-fluid">

  <%= render 'layouts/breadcrumb_headings' %>

  <div class="row">
    <div class="col-md-8">

      <!-- Login buttons -->
      <div class="row">
        <div class="col-md-8">
          <button class="logins-buttons" id="sign-in">Sign in</button>
          <button class="logins-buttons" id="sign-up">Sign up</button>
        </div>
      </div>

      <!-- Sign in form -->
      <form class="new_user col-md-6 logins-form form-width" id="sign-in-form" role="form" action="/users/sign_in" accept-charset="UTF-8" method="post">
        <div class="form-group">
          <label for="user_email">Email</label>
          <input autofocus="autofocus" class="form-control" type="email" value="" name="user[email]" id="user_email" placeholder="eg. john@doe.com" required>
          <span class="help-block">Please enter your email address.</span>
        </div>
        <div class="form-group">
          <a class="pull-right" href="/users/password/new">Forgot password?</a>
          <label for="user_password">Password</label>
          <input class="form-control" type="password" name="user[password]" id="user_password" placeholder="your password" required>
          <span class="help-block">Please enter your password.</span>
        </div>
        <input type="submit" name="commit" value="Sign in" class="btn btn-primary signin-button" data-disable-with="Sign in">
        <div class="checkbox" style="width:150px">
        </div>
      </form>

      <!-- Sign up form -->
      <form class="new_user col-md-6 logins-form display-none form-width" id="sign-up-form" role="form" action="/users" accept-charset="UTF-8" method="post">
        <div class="form-group">
          <label for="user_name">Name</label>
          <input autofocus="autofocus" class="form-control" type="text" name="user[name]" id="user_name" placeholder="your name" required>
          <span class="help-block">Please enter you first name</span>
        </div>
        <div class="form-group">
          <label for="user_email">Email</label>
          <input class="form-control" type="email" value="" name="user[email]" id="user_email" placeholder="eg. john@doe.com" required>
          <span class="help-block">Please enter you email address.</span>
        </div>
        <div class="form-group">
          <label for="user_password">Password</label>
          <input class="form-control" type="password" name="user[password]" id="user_password" placeholder="your password" required>
          <span class="help-block">Your password should be at least 6 characters and should consists of number and symbols</span>
        </div>
        <div class="form-group">
          <label for="user_password_confirmation">Password confirmation</label>
          <input class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation" placeholder="your password confirmation" required>
        </div>

        <div class="">
          <div class="tacbox">
            <input id="checkbox" type="checkbox" required/>
            <label for="checkbox"> I agree to the <a href="#">Terms of Use</a> and
              <a href="#">Privacy Policy</a>.</label>
          </div>
          <br>
        </div>
        <input type="submit" name="commit" value="Sign up" class="btn btn-primary signin-button" data-disable-with="Sign up">
      </form>

    </div>

    <!-- Search documents -->
    <div class="col-md-3">
      <div class="search-documents">
        <div class="row">
          <div class="col-md-12">

            <!-- Search document heading -->
            <div class="documents-content">
              <span class="search-doc-heading">Search Documents</span>
            </div>

            <!-- Search field -->
            <form id="form" class="documents-search">
              <input type="search" class="search-field" id="query" name="q" placeholder="Search..."/>
              <button type="submit" class="btn btn-primary vertically-align">Search</button>
            </form>

            <!-- Help text -->
            <div class="documents-content">
              <span class="search-doc-heading">Do you need help?</span>
            </div>

            <!-- Help description -->
            <div class="documents-search">
              <span class="">
                Our support agents are standing by to assist you. Please be aware that our agents are not licensed
                attorneys and cannot address legal questions.
              </span>
            </div>

            <!-- Phone -->
            <div class="row">
              <div class="contact-section">
                <div class="col-md-1"><i class="fa fa-phone font-awesome-size"></i></div>
                <div class="col-md-9">
                  <span><b>Phone</b></span><br>
                  <span>1 (844) 533-6767</span><br>
                  <span class="timing">(9am to 9am, sat/sun 9am to 5pm)</span>
                </div>
              </div>
            </div>

            <!-- Chat -->
            <div class="row">
              <div class="contact-section">
                <div class="col-md-1"><i class="fa fa-comments font-awesome-size"></i></div>
                <div class="col-md-9">
                  <span><b>Chat</b></span><br>
                  <span>Online - Start Chat</span><br>
                </div>
              </div>
            </div>

            <!-- Email -->
            <div class="row">
              <div class="contact-section">
                <div class="col-md-1"><i class="fa fa-envelope font-awesome-size"></i></div>
                <div class="col-md-9">
                  <span><b>Email</b></span><br>
                  <span>Send Message</span><br>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Empty space -->
    <div class="col-md-1"></div>
  </div>
</div>