<div class="billing_rectangle mb-5">

  <!-- Billing Details Heading -->
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <span class="pull-left section_heading">Billing Details</span>
      </div>
    </div>
  </div>

  <!-- Billing Details Cards -->
  <div class="mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 billing_details_edit_card">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="card_brand_container">
                  <img src="master_card_logo.svg" class="card_brand pull-left mt-1"><br>
                </div>
                <span class="card_number">************4099</span>
                <span class="card_expiry">Expires 05/2024</span><br>
                <span class="card_expiry">123 Apple Street, Unit 101, Austin, TX 78741</span><br>
                <div class="mt-4">
                  <span class="last_used">LAST USED 11/04/2021</span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="pull-right">
                  <div class="dropdown">
                    <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="more.svg">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">
                        <div class="d-flex justify-content-start">
                          <img src="edit_svg.svg" class="m-0">
                          <span class="ml-2">Edit</span>
                        </div>
                      </a>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex justify-content-start">
                          <img src="delete_icon.svg" class="m-0">
                          <span class="ml-2">Delete</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-6 billing_details_edit_card pull-right">
          <div class="parent">
            <span class="child"><b>Add Payment Method</b></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>