<%= javascript_include_tag 'account_settings' %>

<div class="container">

  <%= render partial: 'layouts/page_heading' %>

  <form name="account_change_password" id="ChangePassword">

    <div class="d-flex align-items-center my-4"></div>

    <!-- Current Password -->
    <div class="form-group">
      <label for="SettingCP" class="font-normal">Enter Current Password*</label>
      <input
        type="password"
        id="SettingCP"
        name="Setting[CP]"
        autofocus="autofocus"
        placeholder="Your Password"
        class="form-control form-control-lg"
      >
    </div>

    <!-- New Password -->
    <div class="form-outline mt-4">
      <label class="form-label font-normal" for="SettingNP">New Password*</label>
      <input
        id="SettingNP"
        type="password"
        name="Setting[NP]"
        autofocus="autofocus"
        placeholder="Your Your Password"
        class="form-control form-control-lg"
      >
    </div>
    <span class="error display_none" id="UserExists"></span>

    <!-- Confirm Password -->
    <div class="form-outline mt-4">
      <label class="form-label font-normal" for="SettingCNP">Confirm New Password*</label>
      <input
        id="SettingCNP"
        type="password"
        name="Setting[CNP]"
        autofocus="autofocus"
        placeholder="Confirm Your Password"
        class="form-control form-control-lg"
      >
    </div>
    <span class="error display_none" id="PasswordError"></span>


    <!-- Save & Cancel Buttons -->
    <div class="d-flex justify-content-start my-5">
      <button type="submit" class="create-button">Save & Update</button>
      <button
        type="button" class="cancel-button ml-3"
        onclick="window.location.href='<%= account_settings_path %>'">
        Cancel
      </button>
    </div>
  </form>

</div>
