<div class="container">

  <h2 style="margin-bottom: 30px; font-weight: 700;">Account Settings</h2>

  <div class="mt-5">
    <div class="doc_rectangle">
      <div class="container col-12 my-5">
        <!-- Personal Information -->
        <span class="personal_information">Personal Information</span>
        <!-- Personal Information Form -->
        <form name="personal_info" class="mt-4">

          <!-- First Name -->
          <div class="form-group">
            <label for="FirstName" class="normal_font"><span class="setting_label">First Name</span></label>
            <input
              type="text"
              autofocus="autofocus"
              name="user[name]"
              id="FirstName"
              value="<%= user_name.first %>"
              class="form-control form-control-lg setting-form-custom"
            >
          </div>

          <!-- Last Name -->
          <div class="form-group">
            <label for="LastName" class="normal_font"><span class="setting_label">Last Name</span></label>
            <input
              type="text"
              autofocus="autofocus"
              name="user[name]"
              id="LastName"
              value="<%= user_name.last %>"
              class="form-control form-control-lg setting-form-custom"
            >
          </div>

          <!-- Email -->
          <div class="form-group">
            <label for="Email" class="normal_font"><span class="setting_label">Email</span></label>
            <input
              readonly
              id="Email"
              type="email"
              value="<%= current_user.email %>"
              class="form-control form-control-lg setting-form-custom"
            >
            <span class="email_instructions">Email address cannot be changed</span>
          </div>

          <!-- Password -->
          <div class="form-group">
            <label for="Password" class="normal_font"><span class="setting_label">Password</span></label>
            <input
              type="password"
              id="Password"
              name="user[name]"
              autofocus="autofocus"
              class="form-control form-control-lg setting-form-custom"
            >
            <span class="email_instructions">Want to change the password?</span><a href="" class="text-body-as ml-1">Click
            here</a>
          </div>

          <div class="d-flex justify-content-start">
            <button type="button" class="save_personal_info">Save</button>
            <button type="button" class="cancel_personal_info ml-3">Cancel</button>
          </div>

        </form>

        <hr>

        <!-- My Subscription Row -->
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <span class="pull-left subscription_heading">My Subscription</span>
            </div>
            <div class="col-md-6">
              <img src="account_setting_tooltip.svg" class="pull-right">
            </div>
          </div>
        </div>

        <!-- Plan Row -->
        <div class="row mt-4">
          <div class="col-md-12">
            <div class="col-md-6">
              <span class="pull-left account_name">Premium Account</span><br>
              <p class="premium_acc_des">
                Unlimited access to our legal document library and online rental application tool, billed monthly.
              </p>
            </div>
            <div class="col-md-6">
              <div class="plan_box pull-right plan_rectangle">
                <span>Monthly Plan</span> <span class="plan_price">($39)</span><br>
                <span class="plan_renewal_desc">Your subscription renews</span>
                <span class="plan_till_valid">July 12th, 2023</span>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <!-- Billing Details Row -->
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <span class="pull-left subscription_heading">Billing Details</span>
            </div>
          </div>
        </div>

        <!-- Billing Details Cards -->
        <div class="mt-5">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 billing_details_edit_card">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <div class="card_brand_container">
                        <img src="master_card_logo.svg" class="card_brand pull-left mt-1"><br>
                      </div>
                      <span class="card_number">************4099</span>
                      <span class="card_expiry">Expires 05/2024</span><br>
                      <span class="card_expiry">123 Apple Street, Unit 101, Austin, TX 78741</span><br>
                      <div class="mt-4">
                        <span class="last_used">LAST USED 11/04/2021</span>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="pull-right">
                        <div class="dropdown">
                          <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="more.svg">
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">
                              <div class="d-flex justify-content-start">
                                <img src="edit_svg.svg" class="m-0">
                                <span class="ml-2">Edit</span>
                              </div>
                            </a>
                            <a class="dropdown-item" href="#">
                              <div class="d-flex justify-content-start">
                                <img src="delete_icon.svg" class="m-0">
                                <span class="ml-2">Delete</span>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-6 billing_details_edit_card pull-right">
                <div class="parent">
                  <span class="child"><b>Add Payment Method</b></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>