<div class="container">

  <h2 style="margin-bottom: 30px; font-weight: 700;">Account Settings</h2>

  <div class="mt-5">
    <div class="doc_rectangle">
      <div class="container col-12 my-5">
        <!-- Personal Information -->
        <span class="personal_information">Personal Information</span>
        <form name="personal_info" class="mt-4">

          <!-- First Name -->
          <div class="form-group">
            <label for="FirstName" class="normal_font"><span class="setting_label">First Name</span></label>
            <input
              type="text"
              autofocus="autofocus"
              name="user[name]"
              id="FirstName"
              class="form-control form-control-lg setting-form-custom"
            >
          </div>

          <!-- Last Name -->
          <div class="form-group">
            <label for="LastName" class="normal_font setting_label">Last Name</label>
            <input
              type="text"
              autofocus="autofocus"
              name="user[name]"
              id="LastName"
              class="form-control form-control-lg setting-form-custom"
            >
          </div>
        </form>
      </div>

    </div>
  </div>

</div>