<div class="container">

  <!-- Heading -->

  <%= render partial: 'layouts/page_heading' %>

    <%= render partial: 'personal_info_form' %>

    <%= render partial: 'subscription' %>

    <%= render partial: 'billing_details' %>


</div>


