/* line 1, app/assets/stylesheets/forgot_passwords.css.scss */
#ForgotPassword {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.875px;
  text-transform: uppercase;
}

/* line 8, app/assets/stylesheets/forgot_passwords.css.scss */
#ResetPasswordBtn {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.875px;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  /* line 16, app/assets/stylesheets/forgot_passwords.css.scss */
  .recover-pass-heading {
    text-align: center !important;
    margin-top: 20px;
  }
  /* line 20, app/assets/stylesheets/forgot_passwords.css.scss */
  .recover-pass-heading span {
    font-size: 32px !important;
  }
  /* line 23, app/assets/stylesheets/forgot_passwords.css.scss */
  .recover-pass-heading h5 {
    font-size: 17px !important;
  }
  /* line 26, app/assets/stylesheets/forgot_passwords.css.scss */
  .text-deco-none {
    text-decoration: none !important;
  }
}
