/* line 1, app/assets/stylesheets/logins.css.scss */
.access-doc-text {
  font-size: 17px;
  color: #000000;
}

/* line 6, app/assets/stylesheets/logins.css.scss */
.access-doc-heading {
  font-size: 20px;
  color: #000000;
  font-weight: 600;
}

/* line 12, app/assets/stylesheets/logins.css.scss */
.access-doc-heading-row {
  margin-top: 10px;
}

/* line 16, app/assets/stylesheets/logins.css.scss */
.access-doc-breadcrumb-row {
  padding: 10px;
}

/* line 20, app/assets/stylesheets/logins.css.scss */
.active-now {
  padding-top: 20px;
  background-color: #eee;
}

/* line 26, app/assets/stylesheets/logins.css.scss */
.custom-fluid {
  margin-top: 4%;
}

/* line 30, app/assets/stylesheets/logins.css.scss */
.contact-section {
  padding: 5% 10% 3% 10%;
}

/* line 34, app/assets/stylesheets/logins.css.scss */
.documents-search {
  padding: 0 0 0 10%;
}

/* line 38, app/assets/stylesheets/logins.css.scss */
.documents-search {
  padding: 0 5% 0 10%;
}

/* line 42, app/assets/stylesheets/logins.css.scss */
.display-none {
  display: none;
}

/* line 46, app/assets/stylesheets/logins.css.scss */
.documents-content {
  padding: 10%;
}

/* line 50, app/assets/stylesheets/logins.css.scss */
.font-awesome-size {
  font-size: 20px;
}

/* line 54, app/assets/stylesheets/logins.css.scss */
.form-width {
  width: 100%;
}

/* line 58, app/assets/stylesheets/logins.css.scss */
.hr-style {
  color: #000000;
}

/* line 62, app/assets/stylesheets/logins.css.scss */
.logins-buttons {
  background-color: #eee;
  padding: 15px;
  border: none gainsboro;
  font-size: 15px;
  font-weight: bold;
}

/* line 70, app/assets/stylesheets/logins.css.scss */
.logins-form {
  border: 1px solid gainsboro;
  padding: 15px;
}

/* line 75, app/assets/stylesheets/logins.css.scss */
.signin-button {
  width: 200px;
}

/* line 79, app/assets/stylesheets/logins.css.scss */
.search-documents {
  background-color: #eee;
  height: 580px;
}

/* line 84, app/assets/stylesheets/logins.css.scss */
.search-doc-heading {
  font-weight: bold;
  font-size: 17px;
}

/* line 89, app/assets/stylesheets/logins.css.scss */
.search-field {
  padding: 5px;
  border: 1px solid black;
}

/* line 94, app/assets/stylesheets/logins.css.scss */
span.help-block {
  font-style: italic;
  font-size: 13px;
}

/* line 99, app/assets/stylesheets/logins.css.scss */
.timing {
  font-size: 12px;
}

@media (min-width: 320px) and (max-width: 420px) {
  /* line 108, app/assets/stylesheets/logins.css.scss */
  .search-documents {
    height: 650px;
  }
  /* line 111, app/assets/stylesheets/logins.css.scss */
  .vertically-align {
    margin: 10px 0 0 60px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* line 118, app/assets/stylesheets/logins.css.scss */
  .search-documents {
    height: 700px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* line 125, app/assets/stylesheets/logins.css.scss */
  .search-documents {
    height: 900px;
  }
}
