/* line 1, app/assets/stylesheets/navbar.css.scss */
.line_height {
  line-height: 50px;
}

/* line 5, app/assets/stylesheets/navbar.css.scss */
.nav_vector {
  color: #D6D6D6;
}

/* line 9, app/assets/stylesheets/navbar.css.scss */
.partial_cover {
  height: 10vh;
  border: 1px solid #E2E2E2;
}

/* line 14, app/assets/stylesheets/navbar.css.scss */
.nav_logo {
  float: left;
}
