@media only screen and (max-width: 600px) {
  /* line 2, app/assets/stylesheets/passwords.css.scss */
  .confirm-email-heading {
    text-align: center !important;
    margin-top: 20px;
  }
  /* line 6, app/assets/stylesheets/passwords.css.scss */
  .confirm-email-heading span {
    font-size: 40px !important;
  }
  /* line 9, app/assets/stylesheets/passwords.css.scss */
  .confirm-email-heading h5 {
    font-size: 18px !important;
    text-align: center !important;
  }
  /* line 14, app/assets/stylesheets/passwords.css.scss */
  .reset-pass-heading {
    text-align: center !important;
    margin-top: 20px;
  }
  /* line 18, app/assets/stylesheets/passwords.css.scss */
  .reset-pass-heading span {
    font-size: 40px !important;
  }
  /* line 21, app/assets/stylesheets/passwords.css.scss */
  .reset-pass-heading h5 {
    font-size: 18px !important;
    text-align: center !important;
  }
  /* line 27, app/assets/stylesheets/passwords.css.scss */
  .got-it-mob {
    width: 100% !important;
  }
  /* line 30, app/assets/stylesheets/passwords.css.scss */
  .reset-pass-heading {
    text-align: center;
  }
  /* line 33, app/assets/stylesheets/passwords.css.scss */
  .create-pass {
    text-align: center !important;
  }
  /* line 36, app/assets/stylesheets/passwords.css.scss */
  #PasswordSection {
    margin-left: 0 !important;
  }
  /* line 39, app/assets/stylesheets/passwords.css.scss */
  #PasswordSectionEdit {
    margin-left: 0 !important;
  }
  /* line 42, app/assets/stylesheets/passwords.css.scss */
  #PasswordSectionGitIt {
    margin-left: 0 !important;
  }
}
