/* line 1, app/assets/stylesheets/payments.css.scss */
.billing_form_heading {
  font-weight: 700;
  margin-bottom: 35px;
}

/* line 6, app/assets/stylesheets/payments.css.scss */
.card_details_text {
  font-style: italic !important;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  letter-spacing: -0.003em;
  color: rgba(0, 0, 0, 0.5);
}

/* line 14, app/assets/stylesheets/payments.css.scss */
.buy_rectangle {
  width: 470px;
  height: 500px;
  border: 1.3px solid rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  padding: 30px;
}

/* line 21, app/assets/stylesheets/payments.css.scss */
.payment_plan_card_heading {
  font-weight: 700;
}

/* line 24, app/assets/stylesheets/payments.css.scss */
.buy_rectangle_description {
  opacity: 0.75;
}

/* line 27, app/assets/stylesheets/payments.css.scss */
.coupon_link {
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: -0.003em;
  color: #0686FD;
}

/* line 34, app/assets/stylesheets/payments.css.scss */
.coupon_input {
  background: #F8F8F8 !important;
  border: 1px solid #E5E5E5 !important;
  border-radius: 6px !important;
  height: 35px;
}

/* line 40, app/assets/stylesheets/payments.css.scss */
.apply_link {
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.003em;
  color: #0686FD;
}

/* line 47, app/assets/stylesheets/payments.css.scss */
.buy_plan_left_text {
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: -0.003em;
  color: rgba(0, 0, 0, 0.4);
}

/* line 54, app/assets/stylesheets/payments.css.scss */
.buy_plan_right_price {
  font-weight: 700;
  font-size: 13px;
}

/* line 58, app/assets/stylesheets/payments.css.scss */
.buy_plan_left_total {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.003em;
  font-weight: 700;
}

/* line 64, app/assets/stylesheets/payments.css.scss */
.buy_plan_left_total_price {
  font-weight: 700;
  font-size: 18px;
}

/* line 68, app/assets/stylesheets/payments.css.scss */
.buy_plan_payment_text {
  opacity: 0.5;
}

/* line 71, app/assets/stylesheets/payments.css.scss */
.inner_bold {
  font-weight: 700;
  color: black !important;
  font-size: 13px;
}
