/* line 1, app/assets/stylesheets/properties.css.scss */
#CustomMobileMenu {
  min-width: 130px !important;
  transform: translate3d(-70px, 24px, 0px) !important;
}

/* line 6, app/assets/stylesheets/properties.css.scss */
#SwitchAdditionalTenant {
  color: #FF8F00;
  text-decoration: underline;
}

/* line 11, app/assets/stylesheets/properties.css.scss */
.btn-link {
  color: black;
  text-decoration: none !important;
}

/* line 16, app/assets/stylesheets/properties.css.scss */
.desktop-margin {
  margin-top: 20px;
}

/* line 20, app/assets/stylesheets/properties.css.scss */
.new-property-form .edit {
  color: #FF8F00;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  text-decoration: underline;
}

/* line 28, app/assets/stylesheets/properties.css.scss */
.edit-tenant-modal .body {
  padding: 20px;
}

/* line 32, app/assets/stylesheets/properties.css.scss */
.edit-tenant-modal .close {
  padding: 5px;
}

/* line 36, app/assets/stylesheets/properties.css.scss */
.edit-tenant-modal .heading {
  font-size: 18px;
}

/* line 40, app/assets/stylesheets/properties.css.scss */
.new-property-form .rectangle {
  border-radius: 7px;
  border: 1px solid #E5E5E5;
}

/* line 45, app/assets/stylesheets/properties.css.scss */
.new-property-form .card-header {
  background: transparent;
}

/* line 49, app/assets/stylesheets/properties.css.scss */
.new-property-form .radio-label {
  font-size: 13px;
  letter-spacing: -0.01em;
}

/* line 54, app/assets/stylesheets/properties.css.scss */
.new-property-form .edit-tenant-modal {
  max-width: 600px !important;
  max-height: 600px !important;
}

/* line 59, app/assets/stylesheets/properties.css.scss */
.card-margin {
  margin-bottom: 1.5rem;
}

/* line 63, app/assets/stylesheets/properties.css.scss */
.property-address-link {
  color: #000000;
  text-decoration: none;
}

/* line 68, app/assets/stylesheets/properties.css.scss */
.property-address-link:hover {
  color: #000000;
  text-decoration: none;
}

/* line 73, app/assets/stylesheets/properties.css.scss */
.mt5 {
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  /* line 78, app/assets/stylesheets/properties.css.scss */
  #headingOne {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
  /* line 83, app/assets/stylesheets/properties.css.scss */
  #CardBodyMob {
    padding: 0;
  }
  /* line 86, app/assets/stylesheets/properties.css.scss */
  #TenantNameMob {
    padding: 0 !important;
  }
  /* line 89, app/assets/stylesheets/properties.css.scss */
  #TenantEditMob {
    padding-right: 0 !important;
  }
  /* line 92, app/assets/stylesheets/properties.css.scss */
  #CardBorderMob {
    border: none;
  }
  /* line 95, app/assets/stylesheets/properties.css.scss */
  #TenantFormMob {
    padding: 0 !important;
    margin-top: 10px;
  }
  /* line 99, app/assets/stylesheets/properties.css.scss */
  #TenantModalMob {
    padding: 0 !important;
  }
  /* line 102, app/assets/stylesheets/properties.css.scss */
  #collapse-by-img {
    display: none;
  }
  /* line 105, app/assets/stylesheets/properties.css.scss */
  #AddRentalPropImg {
    float: none !important;
  }
  /* line 108, app/assets/stylesheets/properties.css.scss */
  #AddTenantHeading {
    font-size: 20px;
    padding: 0 !important;
    margin: 0 !important;
  }
  /* line 113, app/assets/stylesheets/properties.css.scss */
  #MyPropertyCardMargin {
    margin-top: 0.50rem !important;
  }
  /* line 116, app/assets/stylesheets/properties.css.scss */
  #propertyLandlordInfo {
    margin-bottom: 20px;
  }
  /* line 119, app/assets/stylesheets/properties.css.scss */
  #AddRentalPropertyBtnMob {
    width: 100%;
    margin-top: 1.5rem !important;
  }
  /* line 123, app/assets/stylesheets/properties.css.scss */
  .ml-mob-0 {
    margin-left: 0 !important;
  }
  /* line 126, app/assets/stylesheets/properties.css.scss */
  .radio-inline {
    margin: 0 !important;
  }
  /* line 129, app/assets/stylesheets/properties.css.scss */
  .margin-top-mob {
    margin-top: 15px;
  }
  /* line 132, app/assets/stylesheets/properties.css.scss */
  .property-nam-mob {
    margin-top: 1.5rem;
    font-size: 20px;
  }
  /* line 136, app/assets/stylesheets/properties.css.scss */
  .new-property-form .col {
    flex-basis: 12em !important;
  }
  /* line 139, app/assets/stylesheets/properties.css.scss */
  .edit-tenant-modal .body {
    padding: 0 0 30px 0 !important;
  }
}
