/* line 1, app/assets/stylesheets/registrations.css.scss */
#SignupBtn {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.875px;
  text-transform: uppercase;
}

/* line 8, app/assets/stylesheets/registrations.css.scss */
.agree-text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px !important;
}

/* line 13, app/assets/stylesheets/registrations.css.scss */
#user-TOS-error {
  margin-top: 22px;
  margin-left: -12px;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  /* line 20, app/assets/stylesheets/registrations.css.scss */
  #RegistrationSection {
    margin-left: 0 !important;
  }
  /* line 24, app/assets/stylesheets/registrations.css.scss */
  .login_text {
    margin-top: 20px;
    font-size: 40px;
  }
}
