/* line 1, app/assets/stylesheets/sidebar.css.scss */
.set_sidebar_section {
  height: 90vh;
  background-color: #F8F8F8;
}

/* line 6, app/assets/stylesheets/sidebar.css.scss */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 14, app/assets/stylesheets/sidebar.css.scss */
#wrapper.toggled {
  padding-left: 250px;
}

/* line 18, app/assets/stylesheets/sidebar.css.scss */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 32, app/assets/stylesheets/sidebar.css.scss */
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

/* line 36, app/assets/stylesheets/sidebar.css.scss */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

/* line 42, app/assets/stylesheets/sidebar.css.scss */
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
/* line 49, app/assets/stylesheets/sidebar.css.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 58, app/assets/stylesheets/sidebar.css.scss */
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  padding: 10px;
}

/* line 64, app/assets/stylesheets/sidebar.css.scss */
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #000000;
  opacity: 0.75;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
}

/* line 75, app/assets/stylesheets/sidebar.css.scss */
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #FF8F00;
  background: rgba(255, 255, 255, 0.2);
}

/* line 81, app/assets/stylesheets/sidebar.css.scss */
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

/* line 86, app/assets/stylesheets/sidebar.css.scss */
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

/* line 92, app/assets/stylesheets/sidebar.css.scss */
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

/* line 96, app/assets/stylesheets/sidebar.css.scss */
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/* line 101, app/assets/stylesheets/sidebar.css.scss */
.set_side_link {
  padding: 10px;
}

@media (min-width: 768px) {
  /* line 106, app/assets/stylesheets/sidebar.css.scss */
  #wrapper {
    padding-left: 250px;
  }
  /* line 110, app/assets/stylesheets/sidebar.css.scss */
  #wrapper.toggled {
    padding-left: 0;
  }
  /* line 114, app/assets/stylesheets/sidebar.css.scss */
  #sidebar-wrapper {
    width: 250px;
  }
  /* line 118, app/assets/stylesheets/sidebar.css.scss */
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  /* line 122, app/assets/stylesheets/sidebar.css.scss */
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  /* line 127, app/assets/stylesheets/sidebar.css.scss */
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
