/* line 1, app/assets/stylesheets/subscriptions.css.scss */
.plan_text {
  margin-top: 40px;
}

/* line 5, app/assets/stylesheets/subscriptions.css.scss */
.plan_text span {
  font-weight: 700;
  font-size: 15px;
}

/* line 10, app/assets/stylesheets/subscriptions.css.scss */
.plan_text p {
  opacity: 0.75;
}

/* line 14, app/assets/stylesheets/subscriptions.css.scss */
.plan-rectangle {
  border: 1.3px solid #E5E5E5;
  border-radius: 5px;
  margin-top: 40px;
  padding: 20px;
}

/* line 21, app/assets/stylesheets/subscriptions.css.scss */
.plan-rectangle .plan_name {
  font-size: 20px;
  font-weight: 700;
}

/* line 26, app/assets/stylesheets/subscriptions.css.scss */
.plan-rectangle .subscription_desc {
  opacity: 0.5;
  font-weight: 700;
  font-size: 12px;
}

/* line 32, app/assets/stylesheets/subscriptions.css.scss */
.plan_amount {
  font-weight: 700;
  font-size: 18px;
}

/* line 37, app/assets/stylesheets/subscriptions.css.scss */
.plan_month {
  opacity: 0.5;
  font-size: 15px;
}

/* line 42, app/assets/stylesheets/subscriptions.css.scss */
.change_subscription_btn {
  border: none;
  background: #FF8F00;
  border-radius: 7px;
  font-weight: 550;
  font-size: 13px;
  letter-spacing: -0.01em;
  color: white;
  padding: 10px;
}

/* line 53, app/assets/stylesheets/subscriptions.css.scss */
.cancel-subscription_heading {
  margin-top: 20px;
}

/* line 57, app/assets/stylesheets/subscriptions.css.scss */
.cancel-subscription_heading span {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

/* line 63, app/assets/stylesheets/subscriptions.css.scss */
.cancellation_warning {
  margin-top: 30px;
}

/* line 67, app/assets/stylesheets/subscriptions.css.scss */
.cancellation_warning span {
  opacity: 0.75;
}

/* line 71, app/assets/stylesheets/subscriptions.css.scss */
.decide_latter {
  text-decoration: none !important;
  color: black;
  font-weight: 700;
}

/* line 77, app/assets/stylesheets/subscriptions.css.scss */
.decide_latter:hover {
  color: black;
}

/* line 81, app/assets/stylesheets/subscriptions.css.scss */
.cancel_plan-rectangle {
  border: 1.3px solid #E5E5E5;
  border-radius: 5px;
  width: 420px;
  height: 370px;
  padding: 20px;
}

/* line 89, app/assets/stylesheets/subscriptions.css.scss */
.cancel_plan_amount {
  font-weight: 700;
  font-size: 25px;
  line-height: 51px;
  color: #010101;
}

/* line 96, app/assets/stylesheets/subscriptions.css.scss */
.end_subscription_text {
  opacity: 0.75;
}

/* line 100, app/assets/stylesheets/subscriptions.css.scss */
.end_subscription_date {
  font-weight: 700;
}

/* line 103, app/assets/stylesheets/subscriptions.css.scss */
.loose_feature_waring {
  font-weight: 700;
  font-size: 15px;
}
