<div class="row">
  <div class="col-md-12">
    <div class="d-flex justify-content-between">

      <!-- Export -->
      <button type="button" class="filter-button">
        <%= image_tag 'documents/export_icon.svg', class: 'pull-left', width: '20' %> Date Created
      </button>

      <!-- Create Document -->
      <button type="button" class="create-button">
        <%= image_tag 'documents/plus_icon.svg', class: 'pull-left', width: '20' %> Create New
      </button>
    </div>
  </div>
</div>