<div class="row">
  <div class="col-md-12">
    <div class="d-flex justify-content-between">

      <!-- Export -->
      <button type="button" class="filter-button">
        <%= image_tag 'documents/export_icon.svg', class: 'pull-left', width: '20' %>
        <span class="no-mob-name">Date Created</span>
      </button>

      <!-- Create Document -->
      <button type="button" class="create-button" id="<%= set_ids(params[:controller], params[:action]) %>" onclick="window.location.href='<%= create_interview_path %>'">
        <%= image_tag 'global_images/plus_icon.svg', class: 'pull-left', width: '20' %> Create New
      </button>
    </div>
  </div>
</div>