<div class="container">

  <!-- Heading -->
  <div class="col-md-12 my-4">
    <span class="page_heading">Rental Applications</span>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between">
        <button type="button" class="export_button">
          <img src="export_icon.svg" class="pull-left m-0">
          <span class="ml-2">Date Created</span>
        </button>
        <button type="button" class="new_doc_button">
          <img src="plus_icon.svg" class="pull-left m-0">
          <span class="ml-2">Create Applicant</span>
        </button>
      </div>
    </div>
  </div>

  <div class="mt-5">

    <div class="row py-3 doc_header">
      <div class="col-md-12">
        <div class="col-md-4">TENANT NAME</div>
        <div class="col-md-4 text-center">PROPERTY ADDRESS</div>
        <div class="col-md-4 text-center">STATUS</div>
      </div>
    </div>

    <div class="doc_rectangle">
      <div class="d-flex justify-content-between">
        <div class="doc_details">
          <span class="doc_name my-auto">ABC</span><br>
          <span class="doc_date ml-2">Created on ABC</span>
        </div>
        <span class="rental_address my-auto">123 Apple Street, Unit 101, Austin, TX 78741</span>
        <span class="progress_rectangle my-auto pull-left">In Progress (78%)</span>
      </div>
    </div>
  </div>

</div>