<div class="container">

  <!-- Heading -->
  <%= render partial: 'layouts/page_heading' %>

  <!-- Buttons Row -->
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between">

        <!-- Export Button -->
        <button type="button" class="export_button">
          <%= image_tag 'rental_applications/export_icon.svg', class: 'pull-left m-0', width: '20' %>
          <span class="ml-2">Date Created</span>
        </button>

        <!-- Create Doc Button -->
        <button type="button" class="new_doc_button">
          <%= image_tag 'rental_applications/plus_icon.svg', class: 'pull-left m-0', width: '20' %>
          <span class="ml-2">New Applicant</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Document Table -->
  <table class="table documents-table">
    <thead>
    <tr>
      <th>TENANT NAME</th>
      <th>PROPERTY ADDRESS</th>
      <th>STATUS</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <span class="doc_name my-auto">Jonathan Cooper</span><br>
        <span class="doc_date ml-2">Created on July 13th, 2022</span>
      </td>
      <td>
        <div class="doc_status">
          <span class="progress_rectangle">123 Apple Street, Unit 101, Austin, TX 78741</span>
        </div>
      </td>
      <td>
        <div class="doc_status">
          <span class="progress_rectangle">In Progress (78%)</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span class="doc_name my-auto">Jonathan Cooper</span><br>
        <span class="doc_date ml-2">Created on July 13th, 2022</span>
      </td>
      <td>
        <div class="doc_status">
          <span class="progress_rectangle">123 Apple Street, Unit 101, Austin, TX 78741</span>
        </div>
      </td>
      <td>
        <div class="doc_status">
          <span class="progress_rectangle">In Progress (78%)</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span class="doc_name my-auto">Jonathan Cooper</span><br>
        <span class="doc_date ml-2">Created on July 13th, 2022</span>
      </td>
      <td>
        <div class="doc_status">
          <span class="progress_rectangle">123 Apple Street, Unit 101, Austin, TX 78741</span>
        </div>
      </td>
      <td>
        <div class="doc_status">
          <span class="progress_rectangle">In Progress (78%)</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span class="doc_name my-auto">Jonathan Cooper</span><br>
        <span class="doc_date ml-2">Created on July 13th, 2022</span>
      </td>
      <td>
        <div class="doc_status">
          <span class="progress_rectangle">123 Apple Street, Unit 101, Austin, TX 78741</span>
        </div>
      </td>
      <td>
        <div class="doc_status">
          <span class="progress_rectangle">In Progress (78%)</span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
