<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-9 col-lg-6 col-xl-5 bg-light_red">
    <img src="Logo.png" class="pull-left">
    <img src="Illsutration.png" alt="Sample image">
  </div>
  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <!-- Sign in form -->
    <form
      role="form"
      action="/users"
      accept-charset="UTF-8"
      method="post"
    >
      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
        <p class="login_text">Sign Up</p>
      </div>

      <div class="d-flex align-items-center my-4"></div>

      <!-- Full Name -->
      <div class="form-group">
        <label for="user_name" class="normal_font">Full Name*</label>
        <input
          type="text"
          name="user[name]"
          autofocus="autofocus"
          id="user_name"
          class="form-control"
          placeholder="Your full name"
          required
        >
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label normal_font" for="form3Example3">Email*</label>
        <input
          type="email"
          autofocus="autofocus"
          name="user[email]"
          id="form3Example3"
          class="form-control form-control-lg"
          placeholder="eg. john@doe.com"
          required
        >
      </div>

      <!-- Password input -->
      <div class="form-outline mb-3">
        <label class="form-label normal_font" for="form3Example4">Password*</label>
        <input
          type="password"
          name="user[password]"
          id="form3Example4"
          class="form-control form-control-lg"
          placeholder="Enter password"
          required
        >
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <!-- Checkbox -->
        <div class="mb-0">
          <input class="form-check-input" type="checkbox" value="" id="form2Example3" required/>
          <label class="form-check-label remember_text" for="form2Example3">
            I have read and understand the
            <a href="#!" class="text-body">Terms of Use</a>
            and
            <a href="#!" class="text-body">Privacy Policy</a>
          </label>
        </div>
      </div>

      <div class="text-center text-lg-start mt-4 pt-2">
        <button type="submit" class="btn w-100 login_btn">Sign Up</button>

        <div class="divider d-flex align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0 remember_text">OR</p>
        </div>

        <div class="control-group google-sign-in">
          <button
            type="button"
            name="google_sign_in"
            class="btn w-100 btn-google-sign-in"
            onclick="window.location.href='/auth/google_oauth2'">
            <div></div>
            Sign Up with Google
          </button>
        </div>

        <p class="fw-bold mt-2 pt-1 mb-0 c">Have an account?
          <a href="<%= root_path %>" class="link-danger">Login</a></p>
      </div>
    </form>
  </div>
</div>
