<div class="container">

  <!-- Heading -->
  <div class="row ml-2 mt-3">
    <div class="col-md-12 my-4 p-0">
      <span class="page_heading">Edit Rental Property</span>
    </div>
  </div>

  <%= render partial: 'properties/form' %>

</div>
