<%= render partial: 'layouts/page_heading' %>

<!-- ErrorAlert -->
<div class="d-flex justify-content-start mb-4">
  <div class="error_alert display_none center"></div>
  <div class="success_alert display_none center"></div>
</div>

<%= render partial: 'properties/partials/create_form' %>