<a href="<%= complete_interview_path(interview_id: params[:interview_id], access_token: params[:access_token], download: 'pdf') %>">
  Download as PDF
</a>

<iframe
  id="rocketSignFrame"
  src="<%= @url %>"
  style="width: 100%; overflow: auto; border: none;">
</iframe>

<script>
    function onResize() {
        var h = window.innerHeight;
        var frame = document.getElementById("rocketSignFrame");
        frame.style.height = h + "px";

        postObject = {
            clientWidth: document.documentElement.clientWidth,
            zoomLevel: 1 / window.visualViewport.scale
        };

        var message = JSON.stringify(postObject);
        frame.contentWindow.postMessage(message, "*");
    }

    (function () {
        onResize();
        window.addEventListener('resize', onResize);
    })();
</script>