<button
  type="button"
  class="create-button pull-right"
  href="<%= complete_interview_path(interview_id: params[:interview_id], access_token: params[:access_token]) %>"
>
  Download as PDF
</button>

<iframe id="rocketSignFrame" src="<%= @url %>" style="width: 100%; overflow: auto; border: none;"></iframe>

<script>
    function onResize() {
        const h = window.innerHeight;
        const frame = document.getElementById("rocketSignFrame");
        frame.style.height = h + "px";

        const postObject = {
            clientWidth: document.documentElement.clientWidth,
            zoomLevel: 1 / window.visualViewport.scale
        };

        const message = JSON.stringify(postObject);
        frame.contentWindow.postMessage(message, "*");
    }

    (function () {
        onResize();
        window.addEventListener('resize', onResize);
    })();
</script>