<a href="<%= complete_interview_path(interview_id: @interview_id, access_token: @access_token) %>">
  Complete Interview
</a>

<script src="https://logo-ipsum.sandbox.rocketlawyer.com/rocket-document.js"></script>

<div class="container-fluid">
  <rocket-document serviceToken="<%= @rl_rdoc_service_token %>" interviewId="<%= @interview_id %>"></rocket-document>
</div>
