<div class="container">
  <div class="col-md-12">
    <h2 style="margin-bottom: 30px; font-weight: 700;">My Documents</h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between">
        <button type="button" class="export_button">
            <img src="export_icon.svg" class="pull-left m-0">
            <span class="ml-2">Date Created</span>
        </button>
        <button type="button" class="new_doc_button">
          <img src="plus_icon.svg" class="pull-left m-0">
          <span class="ml-2">Create New</span>
        </button>
      </div>
    </div>
  </div>

</div>