<div class="container">
  <div class="col-md-12">
    <h2 style="margin-bottom: 30px; font-weight: 700;">My Documents</h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between">
        <button type="button" class="export_button">
          <img src="export_icon.svg" class="pull-left m-0">
          <span class="ml-2">Date Created</span>
        </button>
        <button type="button" class="new_doc_button">
          <img src="plus_icon.svg" class="pull-left m-0">
          <span class="ml-2">Create New</span>
        </button>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="row py-4 doc_header">
      <div class="col-md-12">
        <div class="col-md-6">NAME</div>
        <div class="col-md-6">STATUS</div>
      </div>
    </div>

    <div class="doc_rectangle">
      <div class="d-flex justify-content-between">

        <div class="doc_details">
          <span class="doc_name my-auto">Cooper Fillmore Lease</span><br>
          <span class="doc_date ml-2">Created on July 13th, 2022</span>
        </div>

        <span class="progress_rectangle my-auto">In Progress (78%)</span>

        <div class="my-auto">
          <div class="d-flex justify-content-between">
            <a href="#1"><img src="edit_icon.svg"></a>
            <a href="#2" class="ml-4"><img src="downlaod_icon.svg"></a>
            <div class="dropdown">
              <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="more.svg">
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>