<div class="container">

  <!-- Heading -->
  <div class="col-md-12 my-4">
    <span class="page_heading">My Documents</span>
  </div>

  <!-- Buttons Row -->
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between">
        <button type="button" class="export_button">
          <img src="export_icon.svg" class="pull-left m-0">
          <span class="ml-2">Date Created</span>
        </button>
        <button type="button" class="new_doc_button">
          <img src="plus_icon.svg" class="pull-left m-0">
          <span class="ml-2">Create New</span>
        </button>
      </div>
    </div>
  </div>

  <div class="mt-5">

    <!-- Table Headers -->
    <div class="row py-3 doc_header">
      <div class="col-md-12">
        <div class="col-md-6">NAME</div>
        <div class="col-md-6">STATUS</div>
      </div>
    </div>

    <!-- Table -->
    <div class="doc_rectangle">
      <% @documents.each do |document| %>
        <div class="d-flex justify-content-between">

          <div class="doc_details">
            <span class="doc_name my-auto"><%= document.name %></span><br>
            <span class="doc_date ml-2">Created on <%= document.created_at %></span>
          </div>

          <span class="progress_rectangle my-auto">In Progress (78%)</span>

          <div class="row my-auto">
            <div class="col-md-4">
              <a href="#1"><img src="edit_icon.svg"></a>
            </div>
            <div class="col-md-4">
              <a href="#2"><img src="downlaod_icon.svg"></a>
            </div>
            <div class="col-md-4">
              <div class="dropdown">
                <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="more.svg">
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">
                    <div class="d-flex justify-content-start">
                      <img src="view_icon.svg" class="m-0">
                      <span class="ml-2">View</span>
                    </div>
                  </a>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex justify-content-start">
                      <img src="print_icon.svg" class="m-0">
                      <span class="ml-2">Print</span>
                    </div>
                  </a>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex justify-content-start">
                      <img src="share_icon.svg" class="m-0">
                      <span class="ml-2">Share</span>
                    </div>
                  </a>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex justify-content-start">
                      <img src="rename_icon.svg" class="m-0">
                      <span class="ml-2">Rename</span>
                    </div>
                  </a>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex justify-content-start">
                      <img src="delete_icon.svg" class="m-0">
                      <span class="ml-2">Delete</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Pagination -->
    <%= will_paginate @documents, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>

</div>