<div class="container">

  <%= render partial: 'layouts/page_heading' %>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="cancel_subscription_heading">
          <span>Confirm your Cancellation.</span>
        </div>
        <div class="cancellation_warning">
          <span>You will lose access to all the existing features. You can still think before cancel it.</span>
        </div>
        <div class="cancellation_warning">
          <div class="d-flex justify-content-start">
            <button type="button" class="change_subscription_btn">Cancel my subscription</button>
            <%= link_to 'Ok I’ll decide latter.', account_settings_path, class: 'my-auto ml-3 decide_latter' %>
          </div>
        </div>
      </div>


      <div class="col-md-6 ">
        <div class="cancel_plan-rectangle pull-right">
          <div class="row">
            <div class="col-md-12 text-center">
              <span class="cancel_plan_amount">$39</span>
            </div>
            <div class="col-md-12 text-center">
              <span class="cancel_plan_amount">Monthly Plan</span>
            </div>
            <div class="col-md-12 text-center">
              <span class="end_subscription_text">Your subscription will end </span><span class="end_subscription_date">July 12th, 2023</span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12 text-center">
              <span class="loose_feature_waring">You will lose access these features</span>
            </div>
            <div class="col-md-12 text-center mt-3">
              <span class="end_subscription_text">Unlimited Emails </span>
            </div>
            <div class="col-md-12 text-center mt-3">
              <span class="end_subscription_text">5gb Hosting & Domain</span>
            </div>
            <div class="col-md-12 text-center mt-3">
              <span class="end_subscription_text">Email & Live chat</span>
            </div>
            <div class="col-md-12 text-center mt-3">
              <span class="end_subscription_text">& More...</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
