<div class="container">

  <%= render partial: 'layouts/page_heading' %>

  <div class="plan_text">
    <span>You Current Plan</span>
    <p>
      Unlimited access to our legal document library and online rental application tool, billed monthly.
    </p>
  </div>

  <div class="plan_rectangle">
    <div class="d-flex justify-content-between">
      <div>
        <span class="plan_name">Monthly Plan</span>
        <p>
      <span class="subscription_desc">
        Your subscription renews
        </span>
          <span class="plan_till_valid">
        July 12th, 2023
      </span>
        </p>
      </div>
      <div class="my-auto">
        <div class="d-flex justify-content-end">
          <div class="my-auto">
            <span class="plan_amount">$39</span>
            <span class="plan_month">/month</span>
          </div>
          <div class="ml-2 my-auto">
            <button type="button" class="change_subscription_btn"
                    onclick="window.location.href='<%= cancel_subscription_path(1) %>'">
              Change Subscription
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


