<div class="container">

  <!-- Heading -->

  <div class="row ml-2 mt-3">
    <div class="col-md-12 my-4 p-0">
      <span class="page_heading">Enter Payment Details</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="col-md-6">
        <h4 class="billing_form_heading mb-4">Billing Information</h4>
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 pl-0">
                <div class="form-group">
                  <label for="BillingFN" class="normal_font"><span class="setting_label">First Name*</span></label>
                  <input
                    type="text"
                    id="BillingFN"
                    name="user[name]"
                    autofocus="autofocus"
                    placeholder="Enter First Name"
                    class="form-control form-control-lg setting-form-custom"
                  >
                </div>
              </div>
              <div class="col-md-6 pr-0">
                <div class="form-group">
                  <label for="BillingLN" class="normal_font"><span class="setting_label">Last Name*</span></label>
                  <input
                    type="text"
                    id="BillingLN"
                    name="user[name]"
                    autofocus="autofocus"
                    placeholder="Enter Last Name"
                    class="form-control form-control-lg setting-form-custom"
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="BillingC" class="normal_font"><span class="setting_label">Company (Optional)</span></label>
            <input
              type="text"
              id="BillingC"
              name="user[name]"
              autofocus="autofocus"
              class="form-control form-control-lg setting-form-custom"
            >
          </div>

          <div class="form-group">
            <label for="BillingAL1" class="normal_font"><span class="setting_label">Address Line 1*</span></label>
            <input
              type="text"
              id="BillingAL1"
              name="user[name]"
              autofocus="autofocus"
              class="form-control form-control-lg setting-form-custom"
            >
          </div>

          <div class="form-group">
            <label for="BillingAL2" class="normal_font"><span class="setting_label">Address Line 2</span></label>
            <input
              type="text"
              id="BillingAL2"
              name="user[name]"
              autofocus="autofocus"
              class="form-control form-control-lg setting-form-custom"
            >
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 pl-0">
                <div class="form-group">
                  <label for="BillingPC" class="normal_font"><span class="setting_label">Postal Code*</span></label>
                  <input
                    type="text"
                    id="BillingPC"
                    name="user[name]"
                    autofocus="autofocus"
                    placeholder="Zip Code"
                    class="form-control form-control-lg setting-form-custom"
                  >
                </div>
              </div>
              <div class="col-md-6 pr-0">
                <div class="form-group">
                  <label for="BillingC" class="normal_font"><span class="setting_label">City*</span></label>
                  <input
                    type="text"
                    id="BillingC"
                    name="user[name]"
                    autofocus="autofocus"
                    placeholder="City"
                    class="form-control form-control-lg setting-form-custom"
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 pl-0">
                <div class="form-group">
                  <label for="BillingS" class="normal_font"><span class="setting_label">State *</span></label>
                  <input
                    type="text"
                    id="BillingS"
                    name="user[name]"
                    autofocus="autofocus"
                    placeholder="State"
                    class="form-control form-control-lg setting-form-custom"
                  >
                </div>
              </div>
              <div class="col-md-6 pr-0">
                <div class="form-group">
                  <label for="PropertyType" class="normal_font"><span class="setting_label">Country*</span></label>
                  <select name="" id="PropertyType" class="form-control form-control-lg setting-form-custom">
                    <option value="" disabled selected>Country</option>
                    <option value="">Property Type 1</option>
                    <option value="">Property Type 2</option>
                    <option value="">Property Type 3</option>
                    <option value="">Property Type 4</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-4">
            <h4 class="billing_form_heading mb-0">Card Details</h4>
            <p class="card_details_text">We support major credit/debit/Amex cards</p>
          </div>

          <div class="form-group">
            <label for="BillingCN" class="normal_font"><span class="setting_label">Card Number*</span></label>
            <input
              type="text"
              id="BillingCN"
              name="user[name]"
              autofocus="autofocus"
              placeholder="Your Card Number"
              class="form-control form-control-lg setting-form-custom"
            >
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 pl-0">
                <div class="form-group">
                  <label for="BillingEXP" class="normal_font"><span class="setting_label">Expiration*</span></label>
                  <input
                    type="text"
                    id="BillingEXP"
                    name="user[name]"
                    autofocus="autofocus"
                    placeholder="MM/YY"
                    class="form-control form-control-lg setting-form-custom"
                  >
                </div>
              </div>
              <div class="col-md-6 pr-0">
                <div class="form-group">
                  <label for="BillingCVC" class="normal_font"><span class="setting_label">Security Code*</span></label>
                  <input
                    type="text"
                    id="BillingCVC"
                    name="user[name]"
                    autofocus="autofocus"
                    placeholder="CVC"
                    class="form-control form-control-lg setting-form-custom"
                  >
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-5 mb-4">
        <div class="row">
          <div class="col-md-12">
            <h4 class="billing_form_heading">You're Buying</h4>
          </div>
        </div>
        <div class="buy_rectangle">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 pl-0">
                <h4 class="payment_plan_card_heading">Monthly Plan</h4>
              </div>
              <div class="col-md-6">
                <div class="my-auto pull-right">
                  <%= image_tag 'payments/payments_down_arrow.svg', class: 'mt-3' %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <p class="buy_rectangle_description">
                Unlimited access to our legal document library and online rental application tool, billed monthly.
              </p>
            </div>
          </div>
          <h4 class="coupon_link">Do you have a coupon?</h4>
          <div class="d-flex align-items-center">
            <div class="form-group">
              <input
                type="text"
                id="BillingCOUPON"
                name="user[name]"
                autofocus="autofocus"
                placeholder="Insert you coupon here"
                class="form-control form-control-lg coupon_input"
              >
            </div>
            <div class="mb-4">
              <%= link_to 'Apply', '#', class: 'apply_link ml-3 mb-2' %>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 pl-0">
                <span class="buy_plan_left_text">Base</span>
              </div>
              <div class="col-md-6 pr-0">
                <span class="pull-right buy_plan_right_price">$0.00</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="col-md-6 pl-0">
                <span class="buy_plan_left_text">VAT/TAX/GST</span>
              </div>
              <div class="col-md-6 pr-0">
                <span class="pull-right buy_plan_right_price">$0.00</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="col-md-6 pl-0">
                <span class="buy_plan_left_total">Total</span>
              </div>
              <div class="col-md-6 pr-0">
                <span class="pull-right buy_plan_left_total_price">$0.00</span>
              </div>
            </div>
          </div>
          <hr>
          <span class="buy_plan_payment_text">You chose the Monthly Plan, which includes a</span>
          <span class="inner_bold">7 day free trial.</span>
          <span class="buy_plan_payment_text">You can cancel at any time. After the trial period ends, your card will be charged</span>
          <span class="inner_bold">$39 per month,</span><span class="buy_plan_payment_text">starting on</span>
          <span class="inner_bold">7/18/2022</span>
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <button type="button" class="change_subscription_btn">Place Order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


