// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

//---------- Make all images responsive by default ----------
img {
  @extend .img-responsive;
  margin: 0 auto;
}

//---------- Section default css ----------
section {
  @extend .row;
  margin-top: 20px;
}

//---------- Divider css ----------
hr {
  border: 0;
  clear: both;
  display: block;
  background-color: gainsboro;
  height: 1px;
}

//---------- Application.html.erb ----------
.main-div {
  margin: 6% 0 10% 0;
}

.navbar-nav {
  float: right;
  margin: 20px 12px 0px 0px;
}

//---------- Override for the 'Home' navigation link ----------
.navbar-brand {
  font-size: inherit;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}

.form {
  @extend .col-md-6;
}

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

//---------- Custom Default Buttons Css ----------
.btn-primary-custom {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}


.nav-bg {
  background: #000 !important;
  padding-bottom: 0 !important;
  border-bottom: 1px solid #000 !important;
}

.access-doc-breadcrumb-row span a {
  text-decoration: none;
  color: #000000;
}

#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}

#error_explanation h2 {
  font-size: 16px;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center
  }
}


//Footer.html.erb

footer {
  background: #f3f3f3;
  border-top: 1px solid #d7d7d7;
  padding: 3.55em 0 2.55em 0;
}


.logo-footer {
  background: none, url("eforms-footer_r.svg") no-repeat;
  background-size: 120px auto;
  display: block;
  width: 120px;
  height: 45px;
  position: relative;
  top: -10px;
  left: -4px;
}

.footer-ul-li > ul {
  color: #a8a8a8;
  line-height: 2.4em;
  list-style: none;
  padding: 0;
}

.footer-ul-li > ul > li > a {
  text-decoration: none;
  color: #5d5d5d;
}

.footer-rating-list > ul {
  list-style: none;
  padding: 0;

}