.personal_information {
  font-weight: 500;
  font-size: 24px;
}

.setting_label {
  font-weight: 600 !important;
  font-size: 13px;
  line-height: 21px;
  mix-blend-mode: normal;
}

.setting-form-custom {
  height: 45px !important;
}