.personal-info-rectangle {
  padding: 30px 20px;
  border: 1.3px solid #E5E5E5;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.personal-info-rectangle .heading {
  font-size: 20px;
}

.personal-info-rectangle .instruction {
  font-size: 12px;
}

.personal-info-rectangle .password-link {
  font-size: 12px;
  color: #FF8F00 !important;
}

.subscription-rectangle {
  padding: 20px 20px;
  border: 1.3px solid #E5E5E5;
  border-top: none !important;
}

.subscription-rectangle .heading {
  font-size: 20px;
}

.subscription-rectangle .account-name {
  font-size: 15px;
  font-weight: 700;
  line-height: 36px;
}

.subscription-rectangle .free-account-desc {
  letter-spacing: -0.003em !important;
  color: rgba(0, 0, 0, 0.75);
}

.plan-rectangle {
  padding: 15px;
  border-radius: 7px;
  border: 1px solid #E5E5E5;
}

.plan-rectangle .name {
  font-weight: 700;
  font-size: 18px;
}

.plan-rectangle .price {
  font-size: 18px;
}

.plan-rectangle .description {
  font-size: 12px;
}

.plan-rectangle .validity {
  font-size: 12px;
  font-weight: bold;
}


.subscription-rectangle .cancel-subscription {
  color: #FF8F00;
  margin-top: 5px;
  font-size: 12px;
}

.billing-rectangle {
  padding: 20px 20px;
  border: 1.3px solid #E5E5E5;
  border-top: none !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.billing-rectangle .heading {
  font-size: 20px;
}


.billing-rectangle .card-rectangle {
  border: 1px solid #E5E5E5;
  border-radius: 7px;
  padding: 15px;
  height: 195px;
  max-width: 500px !important;
}

.billing-rectangle .brand-container {
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  padding: 2px;
  width: 35px;
  height: 20px;
}

.billing-rectangle .number {
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0.05em;
}

.billing-rectangle .expiry {
  font-size: 13px;
}

.billing-rectangle .last-used {
  padding: 5px;
  font-size: 11px;
  background: rgba(255, 143, 0, 0.15);
}

.billing-rectangle .add-payment-btn {
  color: black;
  text-decoration: none !important;
}

.billing-rectangle .add-payment-btn:hover {
  color: black;
}

.billing-rectangle .parent {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}

.billing-rectangle .parent > .child {
  display: table-cell;
  vertical-align: middle;
}

.billing-rectangle a {
  cursor: pointer;
}

.link-font-size {
  font-size: 15px;
}

.btn-outline-success {
  color: #FF8F00;
  width: 260px !important;
  height: 40px !important;
  border-color: #FF8F00 !important;
}

.btn-outline-success:hover {
  color: #FFFFFF;
  background-color: #FF8F00 !important;
}

@media only screen and (max-width: 600px) {
  .personal-info-rectangle {
    padding: 0 0 15px 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1.3px solid #E5E5E5;
  }
  .container-fluid {
    padding: 10px;
  }
  .subscription-rectangle {
    padding: 0 0 15px 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1.3px solid #E5E5E5;
  }
  .subscription-rectangle .container {
    padding: 0;
    margin: 0;
  }
  .subscription-rectangle .col {
    flex-basis: 12em !important;
    margin-right: 40px;
  }
  .plan-rectangle {
    width: 100%;
  }
  .cancel-subscription {
    float: left;
  }
  .billing-rectangle {
    padding: 0;
    border: none;
  }
  .auto-flex-base {
    flex-basis: auto;
  }
  #BillingDetailDropdown {
    min-width: 130px !important;
    transform: translate3d(-80px, 24px, 0px) !important;
  }
}