// import the CSS framework
//@import "bootstrap-sprockets";
//@import "bootstrap";

//--------------------------------------------------- Global css ------------------------------------------------------

body {
  color: #000000 !important;
}

.form-control:focus {
  border-color: #FF8F00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.form-control {
  height: 50px;
}

input, input::placeholder {
  font: 15px/3 sans-serif;
}

//--------------------------------------------------- Make all images responsive by default ---------------------------
//img {
//  @extend .img-responsive;
//  margin: 0 auto;
//}

//--------------------------------------------------- Section default css ---------------------------------------------
//section {
//  @extend .row;
//  margin-top: 20px;
//}

//--------------------------------------------------- Login ----------------------------------------------------------

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.login_btn {
  height: 65px;
  background: #FF8F00 !important;
  border-radius: 7px !important;
  font-size: 20px !important;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: white;
}

.login_btn:hover {
  color: white;
}

.got-it-btn {
  width: 120px;
  height: 50px;
  float: left;
}

.login_text {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #0E0E0E;
}

.text-body {
  color: #FF8F00 !important;
}

.link-danger {
  color: #FF8F00 !important;
}

.btn-google-sign-in {
  height: 60px;
  left: 941px;
  top: 771.3px;
  border: 1.3px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 7px;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
}

.btn-google-sign-in div {
  background: transparent url('GoogleOmniAuth.png') no-repeat;
  background-size: 191px 47px;
  background-position: -14px -3px;
  width: 23px;
  height: 39px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.bg-light_red {
  background-color: #F6F6F6;
}

.error_alert {
  background: rgba(255, 44, 58, 0.07);
  border-radius: 5px;
  padding: 5px 10px;
  color: #FF2C3A;
}

.success_alert {
  background: rgba(255, 44, 58, 0.07);
  border-radius: 5px;
  padding: 5px 10px;
  color: #008000;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

.set_login_ill {
  height: 100vh;
}

.set_back_icon {
  margin: 0 8px 0 0;
}

.fake-input {
  position: relative;
}

.fake-input input {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.fake-input img {
  top: 19px;
  right: 10px;
  cursor: pointer;
  position: absolute;
}
