// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

//--------------------------------------------------- Global css ------------------------------------------------------

body {
  color: #252525 !important;
}

.form-control:focus {
  border-color: #FF8F00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.form-control{
  height: 45px;
}
//--------------------------------------------------- Make all images responsive by default ---------------------------
img {
  @extend .img-responsive;
  margin: 0 auto;
}

//--------------------------------------------------- Section default css ---------------------------------------------
section {
  @extend .row;
  margin-top: 20px;
}

//--------------------------------------------------- Login ----------------------------------------------------------

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.login_btn {
  height: 65px;
  background: #FF8F00 !important;
  border-radius: 7px !important;
  font-size: 20px !important;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: white;
}

.login_btn:hover {
  color: white;
}

.got_it_btn{
  width: 120px;
  height: 50px;
}

.login_text {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #0E0E0E;
}

.text-body {
  color: #FF8F00 !important;
}

.remember_text {
  color: #7D7D7D !important;
  font-weight: normal;
  margin-left: 20px;
}

.link-danger {
  color: #FF8F00 !important;
  font-weight: 700;
}

.btn-google-sign-in {
  height: 65px;
  left: 941px;
  top: 771.3px;
  border: 1.3px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 7px;
  font-weight: 700;
}

.btn-google-sign-in div {
  background: transparent url('GoogleOmniAuth.png') no-repeat;
  background-size: 191px 47px;
  background-position: -14px -3px;
  width: 23px;
  height: 39px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.normal_font {
  font-weight: normal !important;
}

.bg-light_red {
  background-color: #F6F6F6;
}

.error_alert {
  background: rgba(255, 44, 58, 0.07);
  border-radius: 5px;
  padding: 5px 10px;
  color: #FF2C3A;
}

.display_none {
  display: none;
}

.set_login_ill {
  height: 100vh;
}

.set_back_icon{
  margin: 5px 8px 0 0;
}

//--------------------------------------------------- Header ----------------------------------------------------------

.line_height {
  line-height: 50px;
}

.nav_vector {
  color: #D6D6D6;
}

.partial_cover {
  height: 10vh;
  border: 1px solid #E2E2E2;
}

.nav_logo {
  float: left;
}

//--------------------------------------------------- Sidebar ----------------------------------------------------------


#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  padding: 10px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #000000;;
  opacity: 0.75;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #FF8F00;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.set_side_link {
  padding: 10px;
}

.active {
  border-right: 3px solid #FF8F00;
  background-color: white;
}

@media(min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

//--------------------------------------------------- visitor ----------------------------------------------------------

.yield_description {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  float: left;
}

.card {
  border-radius: 5px;
}

.image_container {
  width: 200px;
}

