.documents-table {
  margin: 20px 0;
}

.document-name-cell-container {
  padding: 10px 0;
}

.document-name-cell-container .name {
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: -0.01em;
}

.document-name-cell-container .date {
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 7px;
  letter-spacing: -0.01em;
}

.document-status {
  padding: 25px 0;
}

.document-status span {
  color: #FF4C4C;
  text-transform: uppercase;
}

.document-status .signed {
  color: #999999;
  font-size: 12px;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  background: #EEEEEE;
}

.document-status .completed {
  color: #00B167;
  font-size: 12px;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  background: #DFF8EB;
}

.document-status .ready_to_sign {
  color: #1CA0FF;
  font-size: 12px;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  background: #E9F4FF;
}

.document-status .waiting_for_signature {
  color: #DDA900;
  font-size: 12px;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  background: #FCF6E1;
}


.dropdown-padding {
  padding: 25px 25px;
}

.dropdown-menu {
  min-width: 110px !important;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu ul li span {
  margin-left: 10px;
}

.dropdown-item {
  margin: 5px 0;
}

.pagination .page-item .active {
  //background-color: #FF8F00 !important;
}

.page-item.active .page-link {
  background-color: #FF8F00 !important;
  border-color: #FF8F00 !important;
  color: white !important;
}

.pagination > li > a, .pagination > li > span {
  color: #000000 !important;
}

.documents-table > tbody {
  border: 1px solid #ddd;
  border-radius: 15px !important;
}

.documents-table > thead > tr > th {
  border: none !important;
}

.documents-table-mob {
  display: none;
}

@media only screen and (max-width: 600px) {
  .documents-table {
    display: none;
  }
  .documents-table-mob {
    display: block;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1.3px solid #E5E5E5;
  }
  .doc-content-container {
    border-bottom: 1.3px solid #E5E5E5;
  }

  .doc-content-container .card {
    padding: 0;
    float: none;
    border: none;
  }

  .doc-content-container .card-body {
    padding: 30px 15px !important;
  }

  .doc-content-container .name {
    font-size: 20px;
    line-height: 31px;
    letter-spacing: -0.01em;
    font-weight: 600 !important;
  }

  .doc-content-container .document-status {
    padding: 0 !important;
  }

  .doc-content-container .date {
    font-size: 15px !important;
  }

  .doc-content-container .dropdown-padding {
    padding: 0 !important;
  }

  .mob-margin {
    margin: 0 10px;
  }
  .no-mob-name {
    display: none;
  }

  #DocDropMob {
    transform: translate3d(-95px, 30px, 0px) !important;
  }
  #StatusLinkMob{
    margin-top: 20px !important;
  }
}
