#ForgotPassword {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.875px;
  text-transform: uppercase;
}

#ResetPasswordBtn {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.875px;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .recover-pass-heading {
    text-align: center !important;
    margin-top: 20px;
  }
  .recover-pass-heading span {
    font-size: 32px !important;
  }
  .recover-pass-heading h5 {
    font-size: 17px !important;
  }
  .text-deco-none {
    text-decoration: none !important;
  }
}