html * {
  font-style: normal !important;
  font-family: 'Gordita', sans-serif !important;
}

body {
  margin: 0;
}


.page-heading-container .page-heading {
  font-size: 30px;
  font-weight: 700 !important;
}

// Buttons
.filter-button {
  border: none;
  padding: 12px 15px;
  border-radius: 7px;
  opacity: 0.75 !important;
}

.filter-button img {
  margin: 7px;
}

.create-button {
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 7px;
  background: #FF8F00;
}

.create-button:hover {
  color: #FFFFFF;
}

.create-button img {
  margin: 0 10px 0 0;
}

.cancel-button {
  border: none;
  font-weight: bold;
  background: transparent;
}

//Global Font
.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-normal {
  font-weight: normal !important;
}

.bold {
  font-weight: bold;
}

//Global Opacity
.opacity-0-5 {
  opacity: 0.5;
}

.opacity-0-6 {
  opacity: 0.6;
}

.opacity-0-75 {
  opacity: 0.75 !important;

}

//Global Margin
.mtb-20 {
  padding: 20px 0;
}

//Global Input
.input-45 {
  height: 45px !important;
}

select {
  font-size: 15px !important;
}

input {
  font-size: 15px !important;
}

form .error {
  color: #FF0011;
  font-size: 12px;
  font-weight: 400;
}

.error {
  margin: 0;
  color: #FF0011;
  font-size: 12px;
  font-weight: 400;
}

.active {
  color: #FF8F00;
}

.active_border {
  background-color: white !important;
  border-right: 3px solid #FF8F00 !important;
}

.secondary_active {
  color: #000000;
}

//Global Login Image
@media only screen and (max-width: 600px) {
  .set_login_ill {
    display: none !important;
  }
}

//Loader
#loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loader::after {
  top: 40%;
  left: 48%;
  width: 40px;
  content: '';
  height: 40px;
  display: block;
  border-width: 4px;
  border-radius: 50%;
  position: absolute;
  border-style: solid;
  border-color: #FF8F00;
  border-top-color: transparent;
  animation: spin .8s linear infinite;
  -webkit-animation: spin .8s linear infinite;
}
