html * {
  font-style: normal !important;
  font-family: 'Gordita', sans-serif !important;
}

// Heading
.page-heading-container {
  margin: 30px 0;
}

.page-heading-container .page-heading {
  font-size: 30px;
  font-weight: 700;
}

// Buttons
.filter-button {
  border: none;
  padding: 12px 15px;
  border-radius: 7px;
  opacity: 0.75 !important;
}

.filter-button img {
  margin: 5px 10px 0 0;
}

.create-button {
  border: none;
  padding: 12px 15px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  border-radius: 7px;
  background: #FF8F00;
}

.create-button img {
  margin: 0 10px 0 0;
}

//Global Font
.font-15 {
  font-size: 15px;
}

.font-bold {
  font-weight: bold;
}

//Global Opacity
.opacity-0-5 {
  opacity: 0.5;
}

.opacity-0-6 {
  opacity: 0.6;
}

//Global Input
.input-45 {
  height: 45px !important;
}

form .error {
  color: #FF0011;
  font-size: 12px;
  font-weight: 400;
}

.error {
  color: #FF0011;
  font-size: 12px;
  font-weight: 400;
}

.active {
  color: #FF8F00;
}

.active_border {
  background-color: white !important;
  border-right: 3px solid #FF8F00 !important;
}

.secondary_active {
  color: #000000;
}