.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.login_btn {
  height: 65px;
  background: #FF8F00 !important;
  border-radius: 7px !important;
  font-size: 20px !important;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: white;
}

.login_btn:hover {
  color: white;
}

.login_text {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #0E0E0E;
}

.text-body {
  color: #ff8f00 !important;
}

.remember_text {
  color: #7D7D7D !important;
  font-weight: normal;
  margin-left: 20px;
}

.link-danger {
  color: #ff8f00 !important;
  font-weight: 700;
}

.btn-google-sign-in {
  height: 65px;
  left: 941px;
  top: 771.3px;
  border: 1.3px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 7px;
  font-weight: 700;
}

.btn-google-sign-in div {
  background: transparent url('GoogleOmniAuth.png') no-repeat;
  background-size: 191px 47px;
  background-position: -14px -3px;
  width: 23px;
  height: 39px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.normal_font {
  font-weight: normal !important;
}

.bg-light_red {
  background-color: #F6F6F6;
}

.error_alert {
  background: rgba(255, 44, 58, 0.07);
  border-radius: 5px;
  padding: 5px 10px;
  color: #FF2C3A;
  display: none;
}
