nav {
  top: 0 !important;
  position: sticky !important;
  z-index: 9999;
}

.navbar {
  min-height: 80px !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  border: 1px solid #E5E5E5 !important;
}

.nav-img-container {
  width: 245px;
}

.nav-img-container img {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
  font-size: 16px;
}

.single-pipe {
  margin: 0 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  z-index: 1;
  display: none;
  min-width: 80px;
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 5px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #F8F8F8;
}

.dropdown:hover .dropdown-content {
  display: block;
}