@media only screen and (max-width: 600px) {
  .confirm-email-heading {
    text-align: center !important;
    margin-top: 20px;
  }
  .confirm-email-heading span {
    font-size: 40px !important;
  }
  .confirm-email-heading h5 {
    font-size: 18px !important;
    text-align: center !important;
  }
  .got-it-mob{
    width: 100% !important;
  }
}