@media only screen and (max-width: 600px) {
  .confirm-email-heading {
    text-align: center !important;
    margin-top: 20px;
  }
  .confirm-email-heading span {
    font-size: 40px !important;
  }
  .confirm-email-heading h5 {
    font-size: 18px !important;
    text-align: center !important;
  }

  .reset-pass-heading {
    text-align: center !important;
    margin-top: 20px;
  }
  .reset-pass-heading span {
    font-size: 40px !important;
  }
  .reset-pass-heading h5 {
    font-size: 18px !important;
    text-align: center !important;
  }


  .got-it-mob{
    width: 100% !important;
  }
  .reset-pass-heading{
    text-align: center;
  }
  .create-pass{
    text-align: center !important;
  }
  #PasswordSection{
    margin-left: 0 !important;
  }
  #PasswordSectionEdit{
    margin-left: 0 !important;
  }
  #PasswordSectionGitIt{
    margin-left: 0 !important;
  }
  .edit-form-padding{
    padding: 20px;
  }
}