.properties-index-card {
  height: 180px;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid #E5E5E5;
  max-width: 520px !important;
}

.properties-index-card .name {
  letter-spacing: -0.01em !important;
}

.new-property-form .property-checkbox {
  margin-left: 25px;
}

.new-property-form .radio-label {
  font-size: 13px;
  letter-spacing: -0.01em;
}

.new-property-form .card-header {
  background: transparent;
}

.new-property-form .edit-tenant-modal {
  min-width: 700px !important;
  min-height: 500px !important;
}

.edit-tenant-modal .close {
  padding: 5px;
}

.edit-tenant-modal .body {
  padding: 30px;
}

.edit-tenant-modal .heading {
  font-size: 18px;
}

.new_tenant {
  font-weight: 700;
}

.new-property-form .rectangle {
  border-radius: 7px;
  border: 1px solid #E5E5E5;
}

.custom_card_header {
  background-color: transparent !important;
}

.btn-link {
  text-decoration: none !important;
  color: black;
}

.edit_tenant_inner_link {
  text-decoration: underline;
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  color: #FF8F00;
}

.edit_tenant_inner_link:hover {
  color: #FF8F00;
}

.no_border {
  border: none !important;
}

.save_tenant_info {
  height: 35px;
  width: 150px;
  border: none;
  background: #FF8F00;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  font-weight: 550;
  font-size: 14px;
  line-height: 70px;
  letter-spacing: -0.01em;
  color: white;
}
