.properties_index_card {
  border: 1px solid #E5E5E5;
  border-radius: 7px;
  padding: 15px;
  height: 180px;
  max-width: 460px !important;
}

.property_title {
  font-weight: 700;
  letter-spacing: -0.01em !important;
}

.tenant_opacity {
  opacity: 0.5;
}

.property_checkbox {
  margin-left: 25px;
}

.radio_label {
  letter-spacing: -0.01em;
  font-size: 13px;
  font-weight: 700;
}

.new_tenant {
  font-weight: 700;
}

.new_tenant_container_rectangle {
  border: 1px solid #E5E5E5;
  border-radius: 7px;
}

.custom_card_header {
  background-color: transparent !important;
}

.btn-link {
  text-decoration: none !important;
  color: black;
}

.new_tenant_form_text {
  font-weight: 700;
  font-size: 13px;
}

.edit_tenant_inner_link {
  text-decoration: underline;
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  color: #FF8F00;
}

.edit_tenant_inner_link:hover {
  color: #FF8F00;
}
.custom_modal_size{
  min-width: 700px !important;
  min-height: 600px !important;
}
.no_border {
  border: none !important;
}
