.remember_text {
  color: #7D7D7D !important;
  font-size: 15px !important;
}

@media only screen and (max-width: 600px) {
  .login_text {
    margin-top: 20px;
    font-size: 40px;
  }
  .text-deco-none {
    text-decoration: none !important;
  }
}

@media only screen and (max-width: 992px) {

}