#LoginBtn {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.875px;
  text-transform: uppercase;
}

.remember-me {
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 15px !important;
}

@media only screen and (max-width: 600px) {
  .login_text {
    margin-top: 20px;
    font-size: 40px;
  }
  .text-deco-none {
    text-decoration: none !important;
  }
  #SessionSection {
    margin-left: 0 !important;
  }
}