.plan_text {
  margin-top: 40px;
}

.plan_text span {
  font-weight: 700;
  font-size: 15px;
}

.plan_text p {
  opacity: 0.75;
}

.plan_rectangle {
  border: 1.3px solid #E5E5E5;
  border-radius: 5px;
  margin-top: 40px;
  padding: 20px;
}

.plan_rectangle .plan_name {
  font-size: 20px;
  font-weight: 700;
}

.plan_rectangle .subscription_desc {
  opacity: 0.5;
  font-weight: 700;
  font-size: 12px;
}

.plan_amount {
  font-weight: 700;
  font-size: 18px;
}

.plan_month {
  opacity: 0.5;
  font-size: 15px;
}
.change_subscription_btn {
  border: none;
  background: #FF8F00;
  border-radius: 7px;
  font-weight: 550;
  font-size: 13px;
  letter-spacing: -0.01em;
  color: white;
  padding: 10px;
}