#PlanRectangleMob {
  display: none;
}

.plan_month {
  opacity: 0.5;
  font-size: 15px;
}

.plan_text p {
  letter-spacing: -0.003em;
  color: rgba(0, 0, 0, 0.75);
  opacity: 0.8;
}

.plan_amount {
  font-size: 18px;
  font-weight: 700;
}

.decide_latter {
  color: black;
  font-weight: 700;
  text-decoration: none !important;
}

.plan_text span {
  font-size: 15px;
  font-weight: 700;
}

.plan-rectangle {
  padding: 20px;
  border-radius: 5px;
  border: 1.3px solid #E5E5E5;
}

.cancel_plan_amount {
  color: #010101;
  font-size: 25px;
  font-weight: 700;
  line-height: 51px;
}

.decide_latter:hover {
  color: black;
}

.loose_feature_waring {
  font-size: 15px;
  font-weight: 700;
}

.cancellation_warning {
  margin-top: 30px;
}

.decide-mob-container {
  display: none;
}

.end_subscription_text {
  opacity: 0.75;
}

.end_subscription_date {
  font-weight: 700;
}

.cancel_plan-rectangle {
  width: 420px;
  height: 370px;
  padding: 20px;
  border-radius: 5px;
  border: 1.3px solid #E5E5E5;
}

.change_subscription_btn {
  color: white;
  border: none;
  padding: 10px;
  font-size: 13px;
  font-weight: 550;
  border-radius: 7px;
  background: #FF8F00;
  letter-spacing: -0.01em;
}

.cancellation_warning span {
  opacity: 0.75;
}

.plan-rectangle .plan_name {
  font-size: 20px;
  font-weight: 700;
}

.cancel-subscription_heading span {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.plan-rectangle .subscription_desc {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  #CancelSubMob {
    margin-bottom: 40px;
  }

  #DecideLaterMob {
    margin-bottom: 10px;
  }

  #DecideLaterWeb {
    display: none !important;
  }

  #PlanRectangleMob {
    display: block;
  }

  .plan-rectangle {
    display: none;
  }

  .decide-mob-container {
    display: block;
    text-align: center !important;
  }
}