<div class="billing-history-rectangle mb-5">

  <div class="row">
    <div class="col-md-12 p-0 mt-3">
      <div class="col-md-6">
        <span class="heading bold pull-left">Billing History</span>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="row">
      <div class="col-md-12">

        <table class="bordered">
          <thead>
          <tr>
            <th>DATE</th>
            <th>DETAILS</th>
            <th>AMOUNT</th>
          </tr>
          </thead>
          <tbody>
          <%# claim_logs.each do |log| %>
          <tr>
            <td>155 Jun 2022</td>
            <td>iPropertyManagement.com, LLC</td>
            <td>$39.00</td>
          </tr>
          <tr>
            <td>155 Jun 2022</td>
            <td>iPropertyManagement.com, LLC</td>
            <td>$39.00</td>
          </tr>
          <tr>
            <td>155 Jun 2022</td>
            <td>iPropertyManagement.com, LLC</td>
            <td>$39.00</td>
          </tr>
          <%# end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>