<div class="subscription-rectangle">
  <div class="container mb-4">
    <!-- My Subscription Row -->
    <div class="row mt-3">
      <div class="col"><span class="pull-left heading bold">My Subscription</span></div>
      <div class="col"><%= image_tag 'account_settings/account_setting_tooltip.svg', class: 'pull-right', width: '20' %></div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <div>
          <span class="pull-left account-name">Premium Account</span><br>
          <p class="account-description opacity-0-75 pull-left">
            Unlimited access to our legal document library and online rental application tool, billed monthly.
          </p>
        </div>
      </div>
      <div class="col plan-col">
        <div id="PlanRectangle">
          <div class="pull-right my-auto plan-rectangle">
            <span class="name">Monthly Plan</span>
            <span class="price">($39)</span><br>
            <span class="description opacity-0-5">Your subscription renews</span>
            <span class="validity bold">July 12th, 2023</span>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'Change or Cancel Subscription',
                subscriptions_path,
                class: 'cancel-subscription bold pull-right'
    %>
  </div>
</div>


