<div class="subscription-rectangle">
  <div class="container-fluid mb-4 pl-0">
    <div class="d-flex justify-content-between mt-3">
      <span class="pull-left heading bold">My Subscription</span>
      <%#= image_tag 'account_settings/account_setting_tooltip.svg', class: 'pull-right', width: '20' %>
    </div>

    <div class="row mt-3">
      <div class="col">
        <div>
          <span class="pull-left account-name"><%= process_plan(current_user)[:name] %></span><br>
          <p class="opacity-0-75 pull-left free-account-desc">
            <%= process_plan(current_user)[:description] %>
          </p>
        </div>
      </div>
      <div class="col my-auto">
        <% if current_user.subscription&.plan == 'free' %>
          <div class="pull-right my-auto">
            <button
              type="button"
              class="btn btn-outline-success"
              onclick="window.location.href='<%= subscriptions_path %>'">
              Upgrade Account
            </button>
          </div>
        <% else %>
          <div id="PlanRectangle">
            <div class="pull-right my-auto plan-rectangle">
              <span class="name">Monthly Plan</span>
              <span class="price">($39)</span><br>
              <span class="description opacity-0-5">Your subscription renews</span>
              <span class="validity bold">July 12th, 2023</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% unless current_user.subscription&.plan == 'free' %>
      <%= link_to 'Change or Cancel Subscription', subscriptions_path, class: 'cancel-subscription bold pull-right' %>
    <% end %>

  </div>
</div>
