<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a href="#" class="nav-img-container">
    <%= image_tag 'navbar/app_logo.png' %>
  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav pull-right">
      <a class="nav-item nav-link font-16 bold my-auto" href="#">Help & Support</a>
      <%= image_tag 'navbar/single_pipe.svg', class: 'nav-item nav-link single-pipe' %>
      <a class="nav-item nav-link font-16 mr-4 my-auto" href="#">Hi, Rashed Kabir</a>
      <%= image_tag 'navbar/user_image.png', class: 'nav-item nav-link my-auto' %>
    </div>
  </div>
</nav>