<div class="row">
  <div class="col-12 partial_cover">
    <div class="row">
      <div class="col-md-12">

        <!-- Nav Logo -->
        <div class="col-md-6">
          <img class="nav_logo mt-2" src="Logo.png">
        </div>

        <!-- Links & Image -->
        <div class="col-md-6">
          <div class="d-flex justify-content-end line_height">
            <div class="p-2"><b>Help & Support</b></div>
            <div class="p-2 nav_vector">&emsp;|&emsp;</div>
            <div class="p-2">Hi, <%= current_user.name %></div>
            <div class="p-2"><img src="NavImage.png"></div>
            <div class="p-2"><a rel="nofollow" data-method="delete" href="/users/sign_out">Sign Out</a></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>