<div class="d-flex">
  <div class="mr-auto p-2">
    <img src="Logo.png">
  </div>
  <div class="p-2 line_height set_font">Help & Support</div>
  <div class="p-2 line_height nav_vector">&emsp;|&emsp;</div>
  <div class="p-2 line_height">
    Hi, <%= current_user.name %></div>
</div>