<%# add navigation links to this file %>
<li><%= link_to 'Business', page_path('about') %></li>
<li><%= link_to 'Personal', page_path('about') %></li>
<li><%= link_to 'Real Estate', page_path('about') %></li>
<li><%= link_to 'My eForms', page_path('about') %></li>
