<div class="page-heading-container">
  <div class="row">
    <div class="col-md-12">
      <span class="page-heading"><%= heading(params) %></span>

      <!-- Add Rental Property Button -->
      <% if property_index?(params) %>
        <button type="button" class="create-button pull-right" onclick="window.location.href='<%= new_property_path %>'">
          <%= image_tag 'global_images/plus_icon.svg', class: 'pull-left', width: '20' %>Add Rental Property
        </button>
      <% end %>
    </div>
  </div>
</div>
