<div class="page-heading-container">
  <div class="row">
    <div class="col-md-12">
      <span class="page-heading"><%= heading(params) %></span>

      <!-- Add Rental Property Button -->
      <% if params[:controller] == 'properties' && params[:action] == 'index' %>
        <button type="button" class="new_doc_button pull-right my-auto" onclick="window.location.href='<%= new_property_path %>'">
          <%= image_tag 'documents/plus_icon.svg', class: 'pull-left m-0', width: '20' %>
          <span class="ml-2">Add Rental Property</span>
        </button>
      <% end %>
    </div>
  </div>
</div>
