<div class="search-documents">
  <div class="row">
    <div class="col-md-12">

      <% if current_page?(edit_user_registration_path) %>
        <div id="sidebar" class="rounded">
          <ul>
            <li>
              <ul class="dm_navigation">
                <li>My Documents</li>
                <li>Subscription</li>
                <li>Change Password</li>
                <li>Sign Out</li>
              </ul>
            </li>
          </ul>
        </div>
      <% else %>
        <!-- Search document heading -->
        <div class="documents-content">
          <span class="search-doc-heading">Search Documents</span>
        </div>

        <!-- Search field -->
        <form id="form" class="documents-search">
          <input type="search" class="search-field" id="query" name="q" placeholder="Search..."/>
          <button type="submit" class="btn btn-primary-custom vertically-align">Search</button>
        </form>
      <% end %>

      <!-- Help text -->
      <div class="documents-content">
        <span class="search-doc-heading">Do you need help?</span>
      </div>

      <!-- Help description -->
      <div class="documents-search">
              <span class="">
                Our support agents are standing by to assist you. Please be aware that our agents are not licensed
                attorneys and cannot address legal questions.
              </span>
      </div>

      <!-- Phone -->
      <div class="row">
        <div class="contact-section">
          <div class="col-md-1"><i class="fa fa-phone font-awesome-size"></i></div>
          <div class="col-md-9">
            <span><b>Phone</b></span><br>
            <span>1 (844) 533-6767</span><br>
            <span class="timing">(9am to 9am, sat/sun 9am to 5pm)</span>
          </div>
        </div>
      </div>

      <!-- Chat -->
      <div class="row">
        <div class="contact-section">
          <div class="col-md-1"><i class="fa fa-comments font-awesome-size"></i></div>
          <div class="col-md-9">
            <span><b>Chat</b></span><br>
            <span>Online - Start Chat</span><br>
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="row">
        <div class="contact-section">
          <div class="col-md-1"><i class="fa fa-envelope font-awesome-size"></i></div>
          <div class="col-md-9">
            <span><b>Email</b></span><br>
            <span>Send Message</span><br>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
