<div class="col-2 p-0" style="height: 90vh; background-color: #F8F8F8;">
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="active">
          <div class="row">
            <div class="pl-5">
              <a href="#" class="">
                <div class="col-md-3 p-0 mt-2"><img src="Category.svg" style="width: 25px; height: 25px;"></div>
                <div class="col-md-9 p-0"><span>Overview</span></div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-12">
              <a href="#" class="">
                <div class="col-md-3 p-0 mt-2"><img src="MyDoc.svg" style="width: 25px; height: 25px;"></div>
                <div class="col-md-9 p-0"><span>My Documents</span></div>
              </a>
          </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-12">
              <a href="#" class="">
                <div class="col-md-3 p-0 mt-2"><img src="Application.svg" style="width: 25px; height: 25px;"></div>
                <div class="col-md-9 p-0"><span>Rental Applications</span></div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-12">
              <a href="#" class="">
                <div class="col-md-3 p-0 mt-2"><img src="Home.svg" style="width: 25px; height: 25px;"></div>
                <div class="col-md-9 p-0"><span>My Properties</span></div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-12">
              <a href="#" class="">
                <div class="col-md-3 p-0 mt-2"><img src="Setting.svg" style="width: 25px; height: 25px;"></div>
                <div class="col-md-9 p-0"><span>Account Settings</span></div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
  </div>
</div>