<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="active">
        <a href="#">
          <img src="Category.svg">
          Overview
        </a>
      </li>
      <li>
        <a href="">
          <img src="MyDoc.svg">My Documents
        </a>
      </li>
      <li>
        <a href="#">
          <img src="Application.svg">Rental Applications</a>
      </li>
      <li>
        <a href="#">
          <img src="Home.svg">Rental Applications</a>
      </li>
      <li>
        <a href="#">
          <img src="Setting.svg">Account Settings</a>
      </li>
      <a rel="nofollow" data-method="delete" href="/users/sign_out">Sign Out</a>

    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
</div>