<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a href="#">Overview</a>
      </li>
      <li>
        <a href="#">My Documents</a>
      </li>
      <li>
        <a href="#">Reatal Applications</a>
      </li>
      <li>
        <a href="#">My Properties</a>
      </li>
      <li>
        <a href="#">Account Settings</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
</div>